.icon-at:before {
    content: "@";
    font-weight: bold;
}

.portfolio_img {
    max-height: 200px;
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

.navbar-fixed-top {
    width: 1170px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}

.jumbotron {
    margin-top: 70px;
    position: relative;
}

.portfolio_item {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    text-align: center;
    white-space: normal;
}

.portfolio {
    margin-bottom: 30px;
}

.portfolio_description {
    color: #333;
}