
body{
    margin: 0;
	padding:0;
    width: 100%;
    height: auto;
}


.content{
    display: block;
    width: 1200px;
    /*width: 95%;*/
    margin: 0 auto;
    border: 1px solid #000000;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

/*		Описание первого блока - типы блокнотов		*/

.content_block1{
    display: block;
    width: 40%;
    height: auto;
    float: left;
    /*min-width: 400px;*/
}
.content_block1_content{
    display: block;
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000000 ;
    border-radius: 20px;
}


.content_block1 h2{
    font-family: 'Myriad Pro Regular';
    font-size: 1.3em;
    text-align: center;
}

.active{
    border: 2px solid #0066cc;
    border-radius: 3px;
    color:#0066cc ;
}

.content_block1_img{
    display: block;
    width: 80%;
    margin: 0 auto;
   margin-top: 10px;
}
.content_block1_img img{
    float: left;
    width: 105px;
    height: 121px;

}



.content_block1_img1_2{
    display: none;
}

.content_block1_img2_2{
    display: none;
}
.content_block1_img3_2{
    display: none;
}

/*.active_img{*/
    /*display: block;*/
/*}*/
/*.active{*/
    /*border: 2px solid #0066cc;*/
    /*border-radius: 3px;*/
    /*color:#0066cc ;*/
/*}*/
.active_img2{
    display: block;
}
.active_imgnone{
    display: none;
}
.calc_content_img_block1{
    display: block;
    margin-left: 20px;
    width: 70%;
    margin-bottom: 20px;
}

.calc_content_format{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;

}


.name{
    display: block;
    font-family: 'Myriad Pro Light';
    font-size: 1em;
    margin-right: 10px;
    width: 85%;
    float: left;
}
.format{
    width:100%;
}

.tirag{
    display: block;
    width: 100%;
}

.frech{
    margin-bottom: 20px;
}

.cont_img_itog{
    display: block;
    width: 80%;
    margin: 0 auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}



.cont_img_itog1{
    display: block;
    height: 200px;
   
}
.cont_img_itog1 img{
    display:block;
    width: 384px;
    /*width: 100%;*/
    /*height: 158px;*/
    margin: 0 auto;
    margin-top: 20px;
}
.NameBl{
    display: block;
    position: absolute;
    top:0;
    font-family: 'Myriad Pro Regular';
    font-size: 1.1em;
}

.Lbl{
    display: block;
    position: absolute;
    top: 75%;
    left: 10%;
    background-color: #f3f3f3;
}
.Hbl{
    display: block;
    position: absolute;
    top: 35%;
    left: 25%;
    background-color: #f3f3f3;
}
.Lb12{
    display: block;
    position: absolute;
    top: 75%;
    left: 75%;
    background-color: #f3f3f3;
}


.cont_img_itog2{
    display: none;
    height: 200px
}

.cont_img_itog2 img{
    display:block;
    /*width: 100%;*/
    width: 384px;
    /*height: 114px;*/
    margin: 0 auto;
    margin-top: 20px;


}

.Lb2{
    display: block;
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: #f3f3f3;
}
.Hb2{
    display: block;
    position: absolute;
    top: 51%;
    left: 10%;
    background-color: #f3f3f3;
}
.Lb22{
    display: block;
    position: absolute;
    top: 50%;
    left: 68%;
    background-color: #f3f3f3;
}


.active_img{
    display: none;

}

.active_bl{
    display: block;

}

/*		Описание вторго блока - ОБЛОЖКА		*/
.content_block2{
    display: block;
    width: 40%;
    margin-top: 10px;
    float: left;

}


.content_block2_obl{
    display: block;
    width: 90%;
    height: auto;
    border: 1px solid #000000;
    border-radius: 10px;
    min-height: 50px;
}

.content_block2_obl h2{
    font-family: 'Myriad Pro Regular';
    font-size: 1.3em;
    text-align: left;
    margin-left: 20px;
}

.param_block{
    display: block;
    margin-bottom: 25px;
    margin-left: 20px;
}

.format2{
    width: 80%;
}


.button_param{
    display: block;
   /*// background-color: #005697;*/
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    margin-top: -11%;
    margin-right: 15%;
    border: 1px solid #000000;
    border-radius: 2px;
}


.content_block2_bl{
    display: block;
    width: 90%;
    height: auto;
    border: 1px solid #000000;
    border-radius: 10px;
    min-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content_block2_bl h2{
    font-family: 'Myriad Pro Regular';
    font-size: 1.3em;
    text-align: left;
    margin-left: 20px;
}
.tirag2{
    display: block;
    width: 80%;
}

.name2{
    display: block;
    font-family: 'Myriad Pro Light';
    font-size: 1em;
    margin-right: 10px;
    width: 85%;
    float: left;
}



/*		Описание 3 блока - ИТОГИ		*/
.content_block3{
    display: block;
    width: 20%;
    margin-top: 10px;
    float: left;
}
.content_block3_cont h2{
    font-family: 'Myriad Pro Regular';
    font-size: 1.3em;
    text-align: left;
    margin: 0;
    padding: 0;
    /*margin-left: 20px;*/
}

.content_block3 p{
    font-family: 'Myriad Pro Regular';
    font-size: 1.3em;
    text-align: left;
    margin: 0;
    padding: 0;
    /*margin-left: 20px;*/
}

.content_block3 a{
    width: 100%;
    font-family: 'Myriad Pro Light';
    display: inline-block;
}



.itog_obl{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.itog_oblo{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}


.active_none{
    display: none;

}

.itogdata{
    color: #0066cc;
}

.content_block1_img img{
     /*width: 109px;*/
    /*height: 202px;*/
}


/*		Описание 4 блока - КНОПКА		*/
.content_block4{
    display: block;
    width: 20%;
    position: relative;
    overflow: hidden;
    float: right;
    margin-top: 15%;
}

.button_param2{
    display: block;
    margin: 0 auto;
    background-color: #005697;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;

}

.itog_block{
    display: none;
}

.itog_block_open{
    display: block;

}
.coment{
    display: block;
    width: 100%;
    border: 2px solid #0056b3;
    min-height: 50px;
}
.coment:hover{
    border: 2px solid #0056b3;
}
.coment:active{
    border: 2px solid #0056b3;
}
.coment:focus{
    border: 2px solid #0056b3;
}
/*//==================================//  */

/*
* Оформление контактной формы
* без дополительных изображений;
* исключительно средствами CSS;


*/

/*--Слой затемнения фона--*/

.popup-fade1 {
    display: none;
}
.popup-fade1:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}
.popup-fade2 {
    display: none;
}
.popup-fade2:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}
.popup {
    position: fixed;
    top: 10%;
    left: 50%;
    padding: 20px;
    width: 30em;
    margin-left: -20em;
    background: #fff;
    border: 1px solid orange;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #0056b3;
}

.popup-close2 {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #0056b3;
}
#fade {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none; /*--по умолчанию скрыт--*/
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .70;/* Полупрозрачность слоя затемнения */
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
/*--Модальное окно--*/
.popup_block{
    position: fixed;
    top: 55%;;
    left: 45%;
    z-index: 99999;
    display: none; /*--по умолчанию скрыт--*/
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #ffffff;
    max-height: 100%;

    /*-- скругленные углы--*/

    color: #ffffff;
    font-size: .9em;
}
/*--Фиксированное позиционирование для тупого IE6--*/
*html #fade {
    position: absolute;
}
*html .popup_block {
    position: absolute;
}
/*--Блок содержания--*/

/* формируем кнопку закрытия */
.close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    /*--крутим кнопку при наведении--*/
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.note{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.note h2{
    text-align: left;
    margin-left: 2%;
}
.param{
    display: block;
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.param_block{
    display: block;
    margin-left: 20px;
    margin-bottom: 25px;
}

.param_block_list1{
    display: block;
    margin-left: 20px;
    margin-bottom: 25px;
}

.param_block_list2{
    display: none;
    margin-left: 20px;
    margin-bottom: 25px;
}

.act_block{
    display: block;
}

.non_block{
    display: none;
}



.button_param3{
    display: block;
    margin: 0 auto;
    background-color: #005697;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.sub{
     display: block;
     width: 80%;
     border-radius: 5px;
     margin: 0 auto;
     background-color: #005697;
     font-family: "Open Sans", sans-serif;
     font-size: 16px;
     color: #ffffff;
     text-align: center;
     padding-top: 2px;
     padding-bottom: 2px;
     padding-left: 5px;
     padding-right: 5px;
 }
.submit{
    display: block;
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #005697;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
.first{
    display: block;
}
.first span{
   width: 100%;
}
.first input{
    width: 100%;
}


.itog_oblf{
    display: block;
    width: 95%;
    margin: 0 auto;
}

.Nobl{
    display: none;
}



.form1 a{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

.itog_oblf input{
    border: 0;
    color: #0056b3;
    /*width: 80%;*/
}

.itog_oblf p{
    font-family: 'Myriad Pro Regular';
    font-size: 1.3em;
    text-align: left;
    margin: 0;
    padding: 0;
    /*margin-left: 20px;*/
}

/* конец формы */



/*//========================================//*/

/*//========================================//*/


@media only screen  and (max-width: 1024px) {

    .content{
        display: block;
       width: 95%;
        margin: 0 auto;
        border: 1px solid #000000;
        height: auto;
        position: relative;
        overflow: hidden;
        margin-top: 20px;
    }

    .Lbl {
        left: 5%;
        top: 60%;
    }
    .Hb2 {

        top: 41%;
        left: 10%
    }
    .Lb2 {
        left: 30%;
    }
    .Lb12 {
        top: 60%;
        left: 75%;
    }
    .Lb22 {
        top: 40%;
      }
}



@media only screen  and (max-width: 960px) {

    .content_block1 {
        display: block;
        width: 50%;
        margin: 0 auto;
        margin-top: 10px;

    }
    .content_block2 {
        display: block;
        width: 50%;
        margin: 0 auto;
        margin-top: 10px;

    }
    .content_block3 {
        display: none;
        width: 80%;
        margin-left: 20px;
        margin-top: 10px;
    }
    .content_block4 {
        display: block;
        width: 50%;
       float: right;
      margin-top: 10px;
    }

    .Lbl {
        left: 10%;
        top: 75%;
    }
    .Lb2 {
        left: 30%;
    }
    .Hb2 {
        top: 45%;
        left: 10%;
    }
    .Lb12 {
        top: 75%;
        left: 75%;
    }
    .Lb22 {
        top: 45%;
    }
}



@media only screen  and (max-width: 788px) {
    .Hbl {
        top: 25%;
        left: 25%;
    }
    .Lbl {
        left: 10%;
        top: 55%;
    }
    .Lb2 {
        left: 30%;
        top: 10%;
    }
    .Hb2 {
        top: 35%;
        left: 10%;
    }
    .Lb12 {
        top: 55%;
        left: 75%;
    }
    .Lb22 {
        top: 35%;
    }
    /*.content_block1 {*/
        /*display: block;*/
        /*width: 100%;*/
        /*margin: 0 auto;*/
        /*margin-top: 10px;*/
    /*}*/
    /*.content_block2 {*/
        /*display: block;*/
        /*width: 80%;*/
        /*margin-left: 20px;*/
        /*margin-top: 10px;*/

    /*}*/
    /*.content_block3 {*/
        /*display: block;*/
        /*width: 80%;*/
        /*margin-left: 20px;*/
        /*margin-top: 10px;*/

    /*}*/

}

@media only screen  and (max-width: 480px) {
    .content_block1 {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;

    }
    .content_block2 {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;

    }
    .content_block3 {
        display: none;
        width: 80%;
        margin-left: 20px;
        margin-top: 10px;
    }
    .content_block4 {
        display: block;
        width: 100%;
        float: right;
        margin-top: 10px;
    }
    .popup {
        position: fixed;
        top: 10%;
        left: 60%;
        padding-top: 0;
    }
    .itog_oblf {
        display: block;
        width: 100%;
    }
    .Hbl {
        top: 25%;
        left: 25%;
    }
    .Lbl {
        left: 10%;
        top: 70%;
    }
    .Lb2 {
        left: 30%;
        top: 10%;
    }
    .Hb2 {
        top: 45%;
        left: 10%;
    }
    .Lb12 {
        top: 70%;
        left: 75%;
    }
    .Lb22 {
        top: 45%;
    }
    .popup {
        width: 25em;
        top: 1%;
        left: 72%;
    }
    .form1 {
       padding: 0;
        margin: 0;
    }
    .note{
        margin-top: 0;
    }
    .note h2{
        font-size: 1em;
    }
    .form1 a{
     margin-top: 0;
     }
    .itog_oblf p{
        font-size: 1em;
        line-height: 1em;
    }
    .itog_st{
        display: inline-block;
    }
    .itog_st p{
        width: 40%;
        float: left;
    }
    .itog_st input{
        width: 40%;
        float: left;
    }
    .first p{
        margin: 0;
        padding: 0;
    }

}