/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {



.partners_block_img a img{
    width: 100%;
}



}

@media only screen and (max-width: 959px) {

    .footer_left_tel p{
    font-size: 25px;
}

}




/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {




.container{
        width: 100%;
}



}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

.container{
  width: 100%;
 }

.header_logo{
    margin: 0 auto;
}







}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {



}