
@font-face {
    font-family: robotoblack; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/robotoblack/robotoblack.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face {
    font-family: RobotoRegular; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/RobotoRegular/RobotoRegular.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
    src: url(../fonts/RobotoRegular/RobotoRegular.woff); /* ֿףע ך פאיכף סמ רנטפעמל */
    src: url(../fonts/RobotoRegular/RobotoRegular.eot); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face {
    font-family: RobotoBold; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/RobotoBold/RobotoBold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
    src: url(../fonts/RobotoBold/RobotoBold.woff); /* ֿףע ך פאיכף סמ רנטפעמל */
    src: url(../fonts/RobotoBold/RobotoBold.eot); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face {
    font-family: RobotoMedium; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/RobotoMedium/RobotoMedium.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
    src: url(../fonts/RobotoMedium/RobotoMedium.woff); /* ֿףע ך פאיכף סמ רנטפעמל */
    src: url(../fonts/RobotoMedium/RobotoMedium.eot); /* ֿףע ך פאיכף סמ רנטפעמל */
}




