
body{
    margin: 0;
	padding:0;
    width: 100%;
    height: auto;
}

h3{
    display: block;
    font-family: "ArialBold";
    /*//font-weight: bold;*/
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
}
.content{
    display: block;
    width: 90%;
    /*width: 95%;*/
    margin: 0 auto;
    border: 1px solid #000000;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.card2_mob{
    display: none;
}

.date_mob{
    display: none;
}
.dev_mob{
    display: none;
}
.but_mob{
    display: none;
}
.but_mob_pdf{
    display: none;
}


.myDiv{
    display: block;
    margin: 10px;
    margin: 0 auto;
    width: 80%;
    /*text-align: right;*/
}

.profil{
    display: block;
    width: 100%;
}

.typecard{

    display: block;
    font-family: "ArialBold";
    /*//font-weight: bold;*/
    margin-bottom: 10px;
    font-size: 0.7rem;
}

.typecardpr{

    display: block;
    font-family: "ArialBold";
    /*//font-weight: bold;*/
    margin-bottom: 10px;
    font-size: 0.8rem;
    margin-left: 10px;


}
.typeprofil{
    display: block;
    font-family: "ArialBold";
    /*//font-weight: bold;*/
    margin-bottom: 10px;
    font-size: 0.7rem;
    width: 40%;
}


.typepl{
    display: block;
    font-family: "ArialRegular";
    /*//font-weight: bold;*/
    /*margin-bottom: 10px;*/
    font-size: 0.7rem;
}

.card{

    font-family: "ArialRegular";
    font-size: 0.7rem;
}
.card1{

    font-family: "ArialRegular";
    font-size: 0.7rem;
    text-align: right;
}
.name{
    display: block;
    width: 30%;
    font-family: "ArialRegular";
    font-size: 0.7rem;
}

.card2{
    font-family: "ArialBold";
    font-size: 0.9rem;
    width: 4%;
}

.zakaz{
    font-family: "ArialBold";
     font-size: 0.9rem;
    border: none;
    outline: none !important;

}
.zakaz_moth{
    font-family: "ArialBold";
    font-size: 0.9rem;
    width: 5%;
    border: none;
    outline: none !important;
    /*border: none;*/
}
.zakaz_moth:focus{
    font-family: "ArialBold";
    font-size: 0.9rem;
    width: 5%;
    border: none;
    outline: none !important;
}



.name3p{
    font-family: "ArialRegular";
    font-size: 0.8rem;
}
.name3{

    font-family: "ArialBold";
    font-size: 0.8rem;
}

.block_param3{
    display: block;
}
.block_param3_mob{
    display: none;
}
.name4p{
    font-family: "ArialRegular";
    font-size: 0.8rem;
}
.name4{

    font-family: "ArialBold";
    font-size: 0.8rem;
    color:#000000;
    width: 50%;
}


.table{
    border: 1px solid #000000;
    /*max-width: 750px;*/
    width: 100%;
    margin-bottom: 10px;
}

#table_uv1ipr{
    display: table;
    border: 1px solid #000000;
    max-width: 710px;
    width: 90%;
}
.parampr{
    max-width: 710px;

}

.table td{
    font-family: "ArialBold";
    font-size: 0.8rem;
    color:#000000;
}

.table th{

    font-family: "ArialRegular";
    font-size: 0.8rem;
    color: #000000;
    text-align: center;

}

.namet{
    width: 95%;
    border: none;
    text-align: left;

}
#butuv2i{
    margin-bottom: 10px;
    /*color: r;*/
}
.line_mob{
    display: none;
}
/*.namet:focus{*/
    /*width: 95%;*/
    /*border: none;*/
    /*text-align: left;*/

/*}*/

/*.namet:hover{*/
    /*width: 95%;*/
    /*border: none;*/
    /*text-align: left;*/
/*}*/
/*.namet:active{*/
    /*width: 95%;*/
    /*border: none;*/
    /*text-align: left;*/
/*}*/
.name4s{
    vertical-align: top;
}

.amount{
    width: 95%;
    border: none;
    text-align: center;
}

.edism{
    width: 95%;
    border: none;
    text-align: center;
}

.zenaed{
    width: 95%;
    border: none;
    text-align: center;
}
.zenapoz{
    width: 95%;
    border: none;
    text-align: center;
    font-family: "ArialRegular";
    font-size: 0.8rem;
    color: #000000;
    font-weight: normal;

}
.numt{

    border: none;
    text-align: left;
    font-family: "ArialRegular";
    font-size: 0.8rem;
    color: #000000;
    font-weight: normal;
    width: 20%;
}




.nametpr{
    width: 95%;
    border: none;
    text-align: center;
}

.amountpr{
    width: 95%;
    border: none;
    text-align: center;
}

.edismpr{
    width: 95%;
    border: none;
    text-align: center;
}

.zenaedpr{
    width: 95%;
    border: none;
    text-align: center;
}
.zenapozpr{
    width: 95%;
    border: none;
    text-align: center;
    font-family: "ArialRegular";
    font-size: 0.8rem;
    color: #000000;
    font-weight: normal;

}
.numtpr{

    border: none;
    text-align: center;
    font-family: "ArialRegular";
    font-size: 0.8rem;
    color: #000000;
    font-weight: normal;
    width: 10%;
}




.table input:focus{
    width: 95%;
    border: none;
    text-align: center;
    outline: none !important;
}


.block_param4{
    display: block;
  //max-width: 750px;
    width: auto;
    margin-top: 10px;
    /*float: right;*/
    text-align: left;

    font-family: "ArialBold";
    font-size: 0.8rem;
    color:#000000;
}




.cardtype{
    border: none;
    font-weight: bold;
}
.cardnum{
    border: none;
    font-weight: bold;
}

.line{
    display: block;
    width: 100%;
    /*max-width: 750px;*/
    /*width: auto;*/
    height: 2px;
    background-color: #000000;
}

.line1{
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000000;
    margin-bottom: 10px;
}
.line2{
    display: block;
    max-width: 750px;
    width: auto;
    height: 2px;
    background-color: #000000;
}
.block_param5{
    display: block;
    width: 750px;
    /*width: auto;*/
    margin-top: 10px;
    /*float: right;*/
    text-align:left;

    font-family: "ArialRegular";
    font-size: 0.8rem;
    color:#000000;

}
.line3{
    display: block;
    width: 370px;
    /*width: auto;*/
    margin-top: 10px;
    /*float: right;*/
    text-align:left;

    font-family: "ArialRegular";
    font-size: 0.8rem;
    color:#000000;

}
.table2{
    border: none;
    /*max-width: 750px;*/
    width: 100%;
}
/*.block{*/
    /*display: block;*/
    /*width: 750px;*/
/*}*/

/*.block_param{*/
    /*width: 50%;*/
    /*float: left;*/
/*}*/
.param_param6{
      /*display: block;*/
      width: 90%;
      text-align: left;
    font-family: "ArialRegular";
    font-size: 0.8rem;
    color: #000000;
      /*max-width: 380px;*/
      /*float: left;*/
  }
.param_param7{
    /*display: block;*/
    width: 90%;
    text-align: right;
    /*max-width: 380px;*/
    /*float: left;*/
}
.param_param8{
    text-align: center;
    font-family: "ArialRegular";
    font-size: 0.7rem;
    vertical-align: sub;
    margin-top: -5px;
;
}

#newDiv{
    display: block;
    width: 750px;
    /*display: block;*/

}

.newDiv{
    /*display: block;*/
    width: 750px;
    /*display: block;*/

}


.imgpr{
    display: block;
    width: 750px;
}


/*//========================================//*/

/*//========================================//*/


@media only screen  and (max-width: 1024px) {

    .content{
        display: block;
       width: 95%;
        margin: 0 auto;
        border: 1px solid #000000;
        height: auto;
        position: relative;
        overflow: hidden;
        margin-top: 20px;
    }

}



@media only screen  and (max-width: 960px) {

}

@media only screen  and (max-width: 788px){


    h3{
        display: none;
    }
    .line1{
        display: none;
    }
    .profil{
        margin-top: 10px;
    }

    .pdf{
        display: none;
    }
    .typeprofil{
        width: 90%;
        margin: 0 auto;
        font-size: 0.9rem;
    }
    .param{
        margin-top: 10px;
    }

    .card_block{
        display: none;
        visibility: collapse;
    }


    .zakaz{
        display: none;
    }

   .card2_mob{
       display: block;
       width: 90%;
       margin: 0 auto;
       font-family: "ArialBold";
       font-size: 0.9rem;
   }

    .date_mob{
        display: block;
        width: 105%;
        height: auto;
        position: relative;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .date_mob_block{
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .zakaz_moth_mob{
        display: block;
        width: 30%;
        float: left;
        margin-right: 3%;
    }
    .zakaz_mob{
        display: block;
        width: 30%;
        float: left;
        margin-right: 3%;
    }
    .block_param3{
        display: none;
    }
    .block_param3_mob{
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .name4_mob{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .table{
        display: none;
    }

    .itog{
        display: none;
    }

    .line_mob{
        display: block;
        height: 2px;
        width: 50%;
        background: #000000;
        margin: 0 auto;
    }

    .line_mob2{
        display: block;
        height: 1px;
        width: 100%;
        background: #000000;
       margin-top: 10px;
        margin-bottom: 10px;
    }


    .dev_mob{
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    .namet_mob{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .zena_mob{
        display: block;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .zena_mob_block{
        display: block;
        position: relative;
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
    }

    .amount_mob{
        float: left;
    }

    .zenaed_mob{
        float: right;
    }

    .but_mob{
        display: block;
        position: relative;
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
    }
    .butuv_add_mob{
        float: left;
        font-size: 25px;
        font-weight: bold;
        padding: 1px 10px;
    }
    .butuv_del_mob{
        float: right;
        font-size: 25px;
        font-weight: bold;
        padding: 1px 10px;
    }
    .but_mob_pdf{
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .butuv_add_pdf{
        display: block;
        background:blue;
        color: #ffffff;
        font-weight: bold;
        margin: 0 auto;
        padding: 3px 10px;

    }


    /*.card2 {*/
        /*display: block;*/
        /*font-family: "ArialBold";*/
        /*font-size: 0.9rem;*/
        /*width: 14%;*/
    /*}*/

    /*.zakaz_moth {*/
        /*font-family: "ArialBold";*/
        /*font-size: 0.9rem;*/
        /*width: 10%;*/
        /*border: none;*/
        /*outline: none !important;*/
        /* border: none; */
    /*}*/



}

@media only screen  and (max-width: 480px) {


    }

  @media only screen  and (max-width: 281px) {

  }

