@font-face {
    font-family: UbuntuBold; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/Ubuntu/UbuntuBold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face{
    font-family: DroidSerifRegular; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/DroidSerif/DroidSerifRegular.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
    src: url(../fonts/DroidSerif/DroidSerifRegular.eot); /* ֿףע ך פאיכף סמ רנטפעמל */
    src: url(../fonts/DroidSerif/DroidSerifRegular.woff); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face{
    font-family: UbuntuRegular; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/Ubuntu/UbuntuRegular.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face{
    font-family: Arial-Regular; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/Arial-Regular.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
