@font-face {
    font-family: NotoSana-Regular; /* ֳאנםטעףנא רנטפעא */
    src: local("NotoSana-Regular"),
    url(../fonts/NotoSans-Regular.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face {
    font-family: notosanabold; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/notosansbold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
    src: url(../fonts/notosansbold.woff); /* ֿףע ך פאיכף סמ רנטפעמל */
    src: url(../fonts/notosansbold.woff2); /* ֿףע ך פאיכף סמ רנטפעמל */
}
