@import"reset200802.css";

.body {
    width: 105%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.container-fluid {
    display: block;
    width: 100%;
    height: 100%;
   -webkit-backface-visibility: hidden;
    margin: 0;
}

.col-md-12{
    padding-left: 0;
    padding-right: 0;
}



.guarantees_left_menu{

    display: block;
    background-color: #d82526 ;
    height: 100%;
    width: 20%;
    float: left;
    position: fixed;

}

.guarantees_nav{
    display: block;
    margin-left: 50px;
}


.guarantees_nav > li > a{
    color:#ffffff;
    font: 12px "NotoSana-Regular" ;
    height: 20px;
    padding: 0 0;
    line-height: 24px;
}



.guarantees_nav > li > a:focus{
    background-color: #080808;
}

.guarantees_nav > li > a:hover{
    background-color: #080808;
}

.guarantees_left_menu a img{
    width: 100%;
}


.guarantees_menu_tel{
   display: block;
    min-height: 50px;
    width: 80%;
    background-color: #ececec;
    float: right;
    position: relative;
}

.guarantees_menu{
    display: block;
    position: relative;
    margin-top: 10px;
    width: 75%;
    float: left;
}

.guarantees_menu  ul{
    margin: 0 auto;
}

.guarantees_menu ul a{
    color:#353535;
    font: 13px "NotoSana-Regular" ;
    height: 20px;
    line-height: 24px;
    padding-right: 50px;
}

.guarantees_menu ul a:first-child {
    margin-left: 115px;
}

.guarantees_menu ul a img{
    padding-right: 5px;
    padding-top: 5px;
}

.guarantees_tel{
    display: block;
    position: relative;
    margin-top: 10px;
    width: 20%;
    float: right;
}

.guarantees_tel p img{
    margin-right: 25px;
    float: left;

}
.guarantees_tel p{
    color:#353535;
    font: 15px "NotoSana-Regular" ;
    height: 25px;
    float: left;
}
.guarantees_tel p span{
    color:#353535;
    font: 15px "NotoSana-Regular" ;
    height: 25px;
    float: left;
}

/*Описание Гарантии и его компоненты */
.guarantees{
    display: block;
    min-height: 425px;
    width: 80%;
    background-color: #f6f6f6;
    float: right;
    position: relative;
}

.bloc_guarantees{
    display: block;
    position: relative;
    width: 75%;
    min-height: 280px;
    margin: 0 auto;
    margin-right: 10px;
    margin-left: 12%;
    background-color: #f6f6f6;
}

.bloc_guarantees_titel {
    color: #242424;
    font: 20px "notosanabold";
}

.bloc_guarantees_titel a h1 {
    color: #242424;
    font: 20px "notosanabold";
}



.bloc_guarantees_line1{
    display: block;
    position: relative;
    height: 2px;
    width: 23%;
    background-color:#ed2024;
    float: left;
}

.bloc_guarantees_line2{
    display: block;
    position: relative;
    height: 1px;
    width: 70%;
    background-color:#d8d8d8;
    float: left;
}


.guarantees_icon{
    display: block;
    position: relative;
    width: 100%;
    padding-top: 50px;
    margin: 0 auto;
    height: 300px;
}



.bloc_guarantees_icon{
    display: block;
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: 200px;
    float: left;
    margin-top: 50px;
    padding-left: 20px;
}


.bloc_guarantees_icon img{
    margin: 0 auto;
    padding-left: 10px;
}

.bloc_guarantees_icon p{
    font: 13px "notosanabold";
    color: #6a6a6a;
    padding-top: 10px;
}

.bloc_guarantees_icon h2{
    display: block;
    font: 12px "NotoSana-Regular";
    color: #6a6a6a;
    padding-top: 10px;
    text-align: center;
    width: 75%;
    margin-left: 0px;
}




/*Описание Блок контакты дата работ и его компонентов */
.guarantees_contact{
    display: block;
    min-height: 90px;
    width: 80%;
    background-color: #f6f6f6;
    float: right;
    position: relative;
}

.guarantees_contact_deck{
    display: block;
    position: relative;
    width: 30%;
    height: 100%;
    margin-left: 120px;
}

.guarantees_contact_deck p{
    color:#353535;
    font: 12px "NotoSana-Regular" ;
    float: left;
    margin-top: 30px;
}

.guarantees_contact_adres{
    display: block;
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 90px;
}

.guarantees_contact_adres img{
    display: block;
    position: relative;
    float: left;
    margin-top: 30px;
    margin-right: 20px;
}


.guarantees_contact_adres p{
    display: block;
    color:#353535;
    font: 12px "NotoSana-Regular" ;
    float: left;
    margin-top: 20px;
    position: relative;
}

.guarantees_contact_data{
    display: block;
    position: relative;
    width: 18%;
    height: 100%;
    float: left;
    margin-left: 125px;
}

.guarantees_contact_data img{
    display: block;
    position: relative;
    float: left;
}

.guarantees_contact_data p{
    display: block;
    color:#353535;
    font: 12px "NotoSana-Regular" ;
    float: left;
    margin-top: 30px;
    position: relative;
}



/* Блок Футера и его элементы */

.guarantees_contact_futer{
    display: block;
    min-height: 90px;
    width: 80%;
    background-color: #f6f6f6;
    float: right;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
}

.guarantees_contact_futer_deck{
    display: block;
    position: relative;
    width: 30%;
    height: 100%;
    margin-left: 120px;
}

.guarantees_contact_futer_deck p{
    color:#353535;
    font: 12px "NotoSana-Regular" ;
    float: left;
    margin-top: 30px;
}

.guarantees_contact_futer_adres{
    display: block;
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 90px;
}

.guarantees_contact_futer_adres img{
    display: block;
    position: relative;
    float: left;
    margin-top: 30px;
}


.guarantees_contact_futer_adres p{
    display: block;
    color:#353535;
    font: 12px "NotoSana-Regular" ;
    float: left;
    margin-top: 30px;
    position: relative;
    margin-left: 20px;

}

.guarantees_contact_futer_data{
    display: block;
    position: relative;
    width: 18%;
    height: 100%;
    float: left;
    margin-left: 125px;
}

.guarantees_contact_futer_data img{
    display: block;
    position: relative;
    float: left;
}

.guarantees_contact_futer_data p{
    display: block;
    color:#353535;
    font: 12px "NotoSana-Regular" ;
    float: left;
    margin-top: 30px;
    position: relative;
}

.guarantees_menu_tel_futer{
    display: block;
    min-height: 50px;
    width: 80%;
    background-color: #282828;
    float: right;
    position: relative;
}

.guarantees_menu_futer{
    display: block;
    position: relative;
    margin-top: 10px;
    width: 75%;
    float: left;
}

.guarantees_menu_futer  ul{
    margin: 0 auto;
}

.guarantees_menu_futer ul a{
    color:#ffffff;
    font: 13px "NotoSana-Regular" ;
    height: 20px;
    line-height: 24px;
    padding-right: 50px;
}

.guarantees_menu_futer ul a:first-child {
    margin-left: 115px;
}

.guarantees_menu_futer ul a img{
    padding-right: 5px;
    padding-top: 5px;
}

.guarantees_tel_futer{
    display: block;
    position: relative;
    margin-top: 10px;
    width: 20%;
    float: right;
}

.guarantees_tel_futer p img{
    margin-right: 25px;
    float: left;
}
.guarantees_tel_futer p{
    color:#ffffff;
    font: 15px "NotoSana-Regular" ;
    height: 25px;
    float: left;
}

.guarantees_tel_futer p span{
    color:#ffffff;
    font: 15px "NotoSana-Regular" ;
    height: 25px;
    float: left;
}





@media only screen  and (max-width: 1024px) {

    .guarantees_menu_tel {
        width: 80%;
    }

    .guarantees_menu {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 65%;
        float: left;
    }

    .guarantees_menu ul a:first-child {
        margin-left: 85px;
    }

    .guarantees_menu ul a {
        color: #353535;
        font: 13px "NotoSana-Regular";
        height: 20px;
        line-height: 24px;
        padding-right: 30px;
    }

    .guarantees_tel {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 30%;
        float: right;
    }

    .guarantees_contact {
        width: 80%;
    }

    .guarantees_contact_deck {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        margin-left: 20px;
    }

    .guarantees_contact_deck p {
        color: #353535;
        font: 12px "NotoSana-Regular";
        float: left;
        margin-top: 20px;
    }

    .guarantees_contact_adres {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        float: left;
        margin-left: 30px;
    }

    .guarantees_contact_data {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        float: left;
        margin-left: 25px;
    }

    .guarantees_contact_data p {
        margin-top: 20px;
    }


    .guarantees {
        width: 80%;
    }




    .guarantees_contact_futer {
        display: block;
        min-height: 90px;
        width: 80%;
    }

    .guarantees_contact_futer_deck {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        margin-left: 20px;
    }

    .guarantees_contact_futer_adres {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        float: left;
        margin-left: 30px;
    }

    .guarantees_contact_futer_data {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        float: left;
        margin-left: 25px;
    }

    .guarantees_menu_tel_futer {
        display: block;
        min-height: 50px;
        width: 80%;
    }

    .guarantees_menu_futer {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 65%;
        float: left;
    }

    .guarantees_menu_futer ul a:first-child {
        margin-left: 85px;
    }

    .guarantees_menu_futer ul a {
        color: #ffffff;
        font: 13px "NotoSana-Regular";
        height: 20px;
        line-height: 24px;
        padding-right: 30px;
    }

    .guarantees_tel_futer {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 30%;
        float: right;

    }




}

@media only screen  and (max-width: 768px) {

    .guarantees_left_menu {
        display: block;
        background-color: #d82526;
        height: 100%;
        width: 160px;
    }
    .guarantees_left_menu img {
        width: 155px;
        object-fit: contain;
    }

    .guarantees_nav > li > a {
        color: #ffffff;
        font: 11px "NotoSana-Regular";
    }

    .guarantees_nav {
        display: block;
        margin-left: 10px;
    }

    .guarantees_menu_tel {
        width: 79%;
    }
    .guarantees_menu {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 65%;
        float: left;
    }

    .guarantees_menu ul a:first-child {
        margin-left: 15px;
    }

    .guarantees_menu ul a {
        color: #353535;
        font: 12px "NotoSana-Regular";
        height: 20px;
        line-height: 24px;
        padding-right: 10px;
    }

    .guarantees_tel {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 30%;
        float: right;
    }
    .guarantees_tel p{
        color:#353535;
        font: 12px "NotoSana-Regular" ;
        height: 25px;
        float: left;
    }
    .guarantees_tel p span{
        color:#353535;
        font: 12px "NotoSana-Regular" ;
        height: 25px;
        float: left;
    }


    .guarantees_tel p img {
        margin-right: 10px;
        float: left;
    }

    .guarantees_contact {
        width: 79%;
    }

    .guarantees_contact_deck {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        margin-left: 20px;
    }

    .guarantees_contact_deck p {
        color: #353535;
        font: 10px "NotoSana-Regular";
        float: left;
        margin-top: 25px;
    }

    .guarantees_contact_adres {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        float: left;
        margin-left: 10px;
        margin-top: -27px;
    }
    .guarantees_contact_adres p {
        display: block;
        color: #353535;
        font: 10px "NotoSana-Regular";
        margin-top: -27px;
        margin-left: 20px;
        float: right;

    }
    .guarantees_contact_adres img {
       height: 25px;
       padding-top: 30px;
    }

    .guarantees_contact_data p{
        color: #353535;
        font: 10px "NotoSana-Regular";
        margin-top: 10px;
    }


    .guarantees_contact_data {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        float: left;
        margin-left: 25px;
        margin-top: 20px;
    }
    .guarantees_contact_data img {
        height: 60px;
    }

    .guarantees {
        width: 79%;
    }
    .guarantees_icon{
        margin-top: -20px;
    }

    .bloc_guarantees_icon{
        padding-left: 0;
        margin-top: 0;
    }


    .bloc_guarantees_icon img{
        padding-left: 0;
    }
    .bloc_guarantees_icon p{
        text-align: center;
    }



    .guarantees_contact_futer {
        width: 79%;
    }

    .guarantees_contact_futer_deck {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        margin-left: 20px;
        margin-top: 10px;
    }

    .guarantees_contact_futer_deck p {
        color: #353535;
        font: 10px "NotoSana-Regular";
        float: left;
        margin-top: 10px;
    }

    .guarantees_contact_futer_adres {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        float: left;
        margin-left: 10px;
    }
    .guarantees_contact_futer_adres p {
        display: block;
        color: #353535;
        font: 10px "NotoSana-Regular";
        float: right;
        margin-top: -30px;
    }

    .guarantees_contact_futer_adres img{
        height: 25px;
        margin-top: 17px;
    }

    .guarantees_contact_futer_data p{
        color: #353535;
        font: 10px "NotoSana-Regular";
        margin-top: 10px;
    }


    .guarantees_contact_futer_data {
        display: block;
        position: relative;
        width: 30%;
        height: 100%;
        float: left;
        margin-left: 25px;
    }
    .guarantees_contact_futer_data img{
        height: 60px;
    }

    .guarantees_menu_futer {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 65%;
        float: left;
    }

    .guarantees_menu_futer ul a:first-child {
        margin-left: 15px;
    }

    .guarantees_menu_futer ul a {
        color: #ffffff;
        font: 12px "NotoSana-Regular";
        height: 20px;
        line-height: 24px;
        padding-right: 10px;
    }

    .guarantees_tel_futer {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 30%;
        float: right;
    }


    .guarantees_menu_tel_futer {
        display: block;
        min-height: 50px;
        width: 79%;
    }
    .guarantees_tel_futer p{
        color:#ffffff;
        font: 12px "NotoSana-Regular" ;
        height: 20px;
        float: left;
    }
    .guarantees_tel_futer p span{
        color:#ffffff;
        font: 12px "NotoSana-Regular" ;
        height: 20px;
        float: left;
    }

}

@media only screen  and (max-width: 425px) {

    .guarantees_left_menu {
        display: none;

    }

    .guarantees_menu_tel {
        width: 100%;
    }

    .guarantees_nav > li > a {
        color: #ffffff;
        font: 10px "NotoSana-Regular";
    }

    .guarantees_nav {
        display: block;
        margin-left: 5px;
    }

    .guarantees_menu_tel {
        width: 100%;
    }
    .guarantees_menu {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 173px;
        float: left;
    }
    .guarantees_tel p span {
        color: #353535;
        font: 10px "NotoSana-Regular";
        height: 25px;
        float: left;
    }



    .guarantees_menu ul a:first-child {
        margin-left: 1px;
    }

    .guarantees_menu ul a {
        color: #353535;
        font: 10px "NotoSana-Regular";
        height: 20px;
        line-height: 24px;
        padding-right: 5px;
    }

    .guarantees_tel {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 30%;
        float: right;
    }

    .guarantees_tel p img {
        margin-left: 30%;
        width: 20px;
        display: block;
    }
    .guarantees_tel p {
        color: #353535;
        font: 10px "NotoSana-Regular";
        height: 25px;
        float: left;
    }
    .guarantees_tel p span {
        color: #353535;
        font: 10px "NotoSana-Regular";
        height: 25px;
        float: left;
    }

    .guarantees_contact {
        width: 100%;
    }

    .guarantees_contact_deck {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .guarantees_contact_deck p {
        color: #353535;
        font: 10px "NotoSana-Regular";
        float: left;
        margin-top: 10px;
    }

    .guarantees_contact_adres {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        float: left;
        margin-left: 10px;

    }
    .guarantees_contact_adres p {
        display: block;
        color: #353535;
        font: 10px "NotoSana-Regular";
        margin-top: 30px;
        margin-left: -10px;
        float: left;
    }

    .guarantees_contact_data p{
        color: #353535;
        font: 10px "NotoSana-Regular";
        margin-top: 10px;
    }
    .guarantees_contact_adres img {
        height: 25px;
        padding-top: 10px;
    }

    .guarantees_contact_data {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        float: left;
        margin-left: 10px;
    }

    .guarantees_tel_futer p{
        color:#ffffff;
        font: 12px "NotoSana-Regular" ;
        height: 20px;
        float: left;
    }
    .guarantees_tel_futer p span{
        color:#ffffff;
        font: 10px "NotoSana-Regular" ;
        height: 20px;
        float: left;
    }

    .guarantees {
        width: 100%;
    }

    .bloc_guarantees_titel a h1 {
        color: #242424;
        font: 12px "notosanabold";
    }
    .bloc_guarantees_line1 {
        width: 45%;
    }
    .bloc_guarantees_icon p {
        margin-left: 0;
        text-align: left;
    }


    .bloc_guarantees_icon {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 auto;
        min-height: 200px;
        float: left;
        margin-top: 50px;
        padding-left: 30px;
    }






    .guarantees_contact_futer {
        width: 100%;
    }

    .guarantees_contact_futer_deck {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: 20px;
    }

    .guarantees_contact_futer_deck p {
        color: #353535;
        font: 10px "NotoSana-Regular";
        float: left;
        margin-top: 10px;
    }

    .guarantees_contact_futer_adres {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        float: left;
        margin-left: 10px;
    }
    .guarantees_contact_futer_adres p {
        display: block;
        color: #353535;
        font: 10px "NotoSana-Regular";
        margin-top: 10px;
        float: left;
    }

    .guarantees_contact_futer_adres img {
        height: 20px;
    }
    .guarantees_contact_futer_data p{
        color: #353535;
        font: 10px "NotoSana-Regular";
        margin-top: 10px;
        margin-left: 10px;
    }


    .guarantees_contact_futer_data {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        float: left;
        margin-left: 10px;
    }


    .guarantees_menu_futer {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 173px;
        float: left;
    }

    .guarantees_menu_futer ul a:first-child {
        margin-left: 1px;
    }

    .guarantees_menu_futer ul a {
        color: #ffffff;
        font: 10px "NotoSana-Regular";
        height: 20px;
        line-height: 24px;
        padding-right: 5px;
    }

    .guarantees_tel_futer {
        display: block;
        position: relative;
        margin-top: 10px;
        width: 30%;
        float: right;
    }

    .guarantees_tel_futer p img {
        margin-left: 30%;
        width: 20px;
        display: block;
    }
    .guarantees_tel_futer p span {
        color: #ffffff;
        font: 10px "NotoSana-Regular";
        height: 25px;
        float: left;
    }

    .guarantees_menu_tel_futer {
        display: block;
        min-height: 50px;
        width: 100%;
    }

}





