
@font-face{
    font-family: ubuntu_regular; /* Гарнитура шрифта */
    src: local("ubuntu_regular"),
    url(../fonts/ubuntu_regular.ttf) format("truetype"); /* Путь к файлу со шрифтом */
}

@font-face{
    font-family: exo_2_regular; /* Гарнитура шрифта */
    src: local("exo_2_regular"),
    url(../fonts/Exo2.0-Regular.otf) format("truetype"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Ubuntu; /* Гарнитура шрифта */
     src: local("Ubuntu"),
     url(../fonts/ubuntu.ttf) format("truetype"); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}