@import"reset200802.css";


.body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

/*Описание header и его компонентов */

.header {
    display:block;
    width: auto;
    min-height: 53px;
    margin: 0 auto;
    background-color: #fdcc00;
}

.header_menu_bloc{
    display:block;
    width: 1160px;
    min-height: 53px;
    margin: 0 auto;
}


.header_menu{
    display: block;
    width: 450px;
    max-height: 53px;
    padding: 19px 0px 7px 15px;
    float: left;
}

.header_menu a{
    display: block;
    width: auto;
    font-size: 20px;
    font-family:Arial;
    font-weight: bold;
    color: #413300;
    margin-right:29px;
    float: left;

}

.header_menu a:hover {
    background-color: #00000d;
    border-radius: 5px;
    text-decoration: none;

}


.header_telefon {
    width: 370px;
    min-height: 53px;
    display: inline-block;
    float: right;
}

.header_telefon_p{
    display: block;
    padding-top: 16px;
    padding-left: 3px;
    font-size: 21px;
    font-family:Arial;
    color: #413300;
    float: left;
}

.header_telefon_img{
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 6px;
}


.header_telefon_span{
    display: block;
    padding-top: 16px;
    padding-left: 3px;
    font-size: 21px;
    font-family:Kozuka Gothic Pro;
    font-weight: bold;
    color: #413300;
    float: left;
}

.header_menu_klic{
    display: block;
    width: 14%;
    margin: 0 auto;
    background: transparent url("../img/Menu_1.png") 0 0 no-repeat;
    z-index: 999;
    position: relative;
}

.header_menu_klic a{
    font-size: 17px;
    font-family:Arial;
    font-weight: bold;
    text-decoration: none;
    color: #413300;
    margin-left: 68px;
}


/*Описание content (Профессиональный перевод) и его компонентов */

.content{
    display: block;
    min-width: 100%;
    min-height: 550px;
    background: transparent url("../img/Fon_1.png") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    position: relative;
    margin-top: -17px;
    z-index: 1;
}

.content_bloc{
    display:block;
    width: 1160px;
    margin: 0 auto;

}

.content_logo_text{
    display: block;
    width: auto;
    height: auto;
}

.content_logo{
    display: block;
    width: 410px;
    float: left;
    min-height: 190px;
}

.content_logo img{
    padding-left: 1px;
    padding-top: 14px;

}


.content_text{
    display: block;
    width: 400px;
    float: right;
    min-height: 190px;
 }

.content_text_bloc{
    display: block;
    width: 400px;
    height: auto;
    margin-left: 14px;
    margin-top: 20px;
}


.content_text_bloc h1{
    font-size: 31px;
    font-family:Arial;
    font-weight: bold;
    color: #ffffff;
}

.content_text_bloc p{
    font-size: 28px;
    font-family:Arial;
    font-weight: bold;
    color: #9ab7d9;
    margin-top: 10px;
    margin-left: 2px;
}

.content_text_bloc h2{
    font-size: 11px;
    font-family:Arial-Regular;
    line-height: 18px;
    color: #ffffff;
    margin-top: 12px;
    margin-left: 2px;
}

.content_Search1{
    display: inline-block;
    width: 100%;
    height: auto;
}

.content_Search{
    display: block;
    width: 721px;
    height: 76px;
    margin-left: 243px;
    margin-top: 0px;
    opacity: 0.95; /* Значение прозрачности */
    filter: alpha(Opacity=95); /* Прозрачность в IE */
    background-color: #d3b214;


}

input[type="search"] {
    height: 42px;
    width: 625px;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    display: inline-block;
    opacity: 1;
    color: #cecece;
 }

input[type="search"].value
{
    margin-left: 10px;
    margin-top: 2px;
}


input[type="submit"] {
    border: none;
    height: 56px;
    width: 61px;
    margin-left: 17px;
    margin-top: 10px;
    background: url("../img/Poisk.png") no-repeat;
    float: left;
    display: inline-block;
    opacity: 1;
}

.content_Search_text{
    display: block;
    position: absolute;
    margin-top: 55px;
    width: auto;
    height: auto;
}

.content_Search p{
    font-size: 12px;
    font-family:Arial;
    color: #282100;
    padding-bottom: 3px;
    margin-left: 15px;
}

.content_Search p span{
    font-size: 12px;
    font-family:Arial;
    color: #6e623b;
}

.content_form{
    display: block;
    float: right;
    height:244px ;
    width: 299px;
    border-radius: 6px;
    margin-right: 93px;
    margin-top: 18px;
    background-image: linear-gradient(#d0d6dc, #ffffff);
    opacity: 0.93; /* Значение прозрачности */
    filter: alpha(Opacity=93); /* Прозрачность в IE */

}

.content_form h2{
    font-size: 17px;
    font-family:Arial;
    font-weight: bold;
    color: #272d32;
    margin-left: 19px;
    margin-top: 22px;
}

.content_form span{
    display: block;
    margin-left: 17px;
    color:#aab1b8;
    margin-top: -8px;

}

.content_form h1{
    font-size: 12px;
    font-family:Arial;
    color: #272d32;
    margin-left: 17px;
    margin-top: 8px;
   line-height: 17px;
}

#form{
    display: block;
    width: 100%;
    height: 50px;

}
.first{
    margin-top: 5px;
}

.content_pole{
    display: block;
    float: left;
    width: 70%;
    height: 50px;
}

.content_button{
    display: block;
    float: right;
    width: 22%;
    height: 50px;
    margin-top: 14px;
    margin-right: 5px;
}

#form input {
    /* устанавливаем ширину инпутов */
    display: block;
    width:189px;
    background-color: #fefefe;
    font-size: 12px;
    font-family:Arial;
    border-radius: 2px;
    color:#aab1b8;
    height: 30px;
    margin-left: 17px;
    margin-top: 3px;
    float: left;

}

#form a.poplight{
     display: block;
    background: url("../img/Button_1.png") no-repeat;
    width: 70px;
    height: 64px;
    margin-left: -18px;
    margin-top: 2px;

}

.content_form_text{
    display: block;
    width: 90%;
    margin-left: 18px;
    margin-top: 38px;

}

.content_form_text img{
    float: left;
    margin-top: -7px;
}

.content_form_text p{
    float: left;
    margin-left: 10px;
    font-size: 12px;
    font-family:Arial;
    color: #272d32;
}

.content_form_text p span{
    font-size: 22px;
    font-family:Kozuka Gothic Pro;
    color: #272d32;
    font-weight: bold;
    margin-left: -2px;
    margin-top: -4px;
}

.content_icon{
    display: block;
    position: absolute;
    width: 56%;
    float: left;
    min-height: 300px;
    z-index: 999;
    margin-left: 0px;
    margin-top: 32px;

}

.content_icon h1{
    font-size: 37px;
    font-family:Arial;
    color: #ffffff;
    font-weight: bold;
    margin-left: 3px;
    margin-top: 7px;
}

.post-main{
    display: block;
    position: relative;
    width: 236px;
    height: 191px;
    background-color:#ffffff;
    border-radius: 6px;
    float: left;
    margin-right: 7px;
    margin-top: 38px;
    margin-bottom: -26px;
    box-shadow: 0px 11px 33px -7px #000000;

}

.post-main img{
    display: block;
    margin: 0 auto;
    padding-top: 6px;
    padding-left: 9px;
}

.post-main p{
    display: block;
    font-size: 16px;
    font-family:Arial;
    color: #000000;
    bottom: 1px;
    text-align: center;
}

.post-main-text{
    position:absolute;
    width:100%;
    bottom:15px;

}
/*Описание content_text2 (Второй блок контента) и его компонентов */

.content_text2 {
    display: block;
    width: 100%;
    min-height: 300px;
    background-color: #ffffff;
    position: relative;


}

.content_text2_text{
    display: block;
    float: right;
    margin-top: 46px;
    margin-right: 66px;


}

.content_text2_text h1{
    font-size: 32px;
    font-family:Arial;
    font-weight: bold;
    color: #000000;
    margin-top: 0px;
}

.content_text2_text p{
    font-family:Arial-Regular;
    font-size: 17px;
    color: #000000;
    line-height: 29px;
    margin-top: 13px;

}



/*Описание блока "ЛИНИЯ" и его омпонентов */

.line{
    display:block;
    width: 100%;
    height: 7px;
   background-color: #fdcc00;

}



/*Описание блока "Карта" и его омпонентов */

.carta{
    display:block;
    width: 100%;
    min-height: 395px;


}

.cart_text{
    display:block;
    width: 297px;
    height: 191px;
    background-color: #f6faf4;
    position: relative;
    margin-top: -322px;
    margin-left: 184px;
    opacity: 0.9; /* Значение прозрачности */
    filter: alpha(Opacity=90); /* Прозрачность в IE */

}

.cart_text h2{
    font-size: 17px;
    font-family:Arial;
    font-weight: bold;
    color: #000000;
    margin-left: 16px;
    margin-top: -7px;
    margin-bottom: -10px;
}

.cart_text span{
    margin-left: 10px;
    color: #848b8f;
 }

.cart_text p{
    font-size: 13px;
    font-family: Arial-Regular;
    font-weight: bold;
    color: #000000;
    margin-left: 16px;
     margin-top: 10px;
    line-height: 14px ;
}

.cart_text p span{
    font-size: 12px;
    font-family: Arial-Regular;
    color: #848b8f;
    margin-left: 1px;
}

.cart_text_img{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    width: 275px;
    float: left;
}

.cart_text_img img{
    margin-left: 6px;
    margin-top: 1px;
    float: left;

}

.cart_text_img p{
    font-size: 12px;
    font-family: Arial;
    color: #000000;
    width: 178px;
    float: left;
    margin-left: 9px;
    margin-top: 9px;
}


.cart_text_img p span{
    font-size: 21px;
    font-family: Kozuka Gothic Pro;
    font-weight: bold;
    color: #000000;
    display: block;
    margin-left: 0px;
    margin-top: 8px;
   }

    /*Описание блока "Футер" и его омпонентов */

.footer{
    display:inline-block;
    width: 100%;
    min-height: 40px;
    background-color: #000000;
}



.footer_text{
    display: block;
    width: 303px;
    font-size: 12px;
    font-family: "Arial";
    color: #ffffff;
    float: left;
    margin-left: 73px;
    margin-top: -4px;

}

.footer_text p{
    margin-top: 10px;
    text-align: center;
}


.footer_text2{
    display: block;
    width: 30%;
    font-size: 12px;
    font-family: "Arial";
    color: #ffffff;
    float: right;
    margin-top: -4px;
}

.footer_text2 p{
    margin-top: 10px;
    text-align: center;
}

