
body{
    margin: 0;

}

/*		Описание блока калькулятора и его компонент		*/




/*input[type=range] {*/
    /*-webkit-appearance: none; !* Hides the slider so that custom slider can be made *!*/
    /*!*width: 100%; !* Specific width is required for Firefox. *!*!*/
    /*background: transparent; !* Otherwise white in Chrome *!*/
/*}*/



/*input[type="range"]::-moz-range-progress {*/
    /*background-color: #8dc442;*/
/*}*/

/*.firefox input[type=range]::-moz-range-track {*/
    /*border-radius: 8px;*/
    /*height: 7px;*/
    /*border: 1px solid #bdc3c7;*/
    /*background-color: #8dc442;*/
/*}*/


/*.firefox input[type=range]::-moz-range-track {*/
    /*border-radius: 8px;*/
    /*height: 7px;*/
    /*border: 1px solid #bdc3c7;*/
    /*background-color: #fff;*/
/*}*/

/*input[type="range"]::-ms-track {*/
    /*.track();*/
    /*width: 100%;*/
    /*height: 10px;*/
    /*cursor: pointer;*/
    /*background:-webkit-linear-gradient(left ,#8870FF 0%,#8870FF 25%,#fff 25%, #fff 100%);*/
    /*background-color:#8dc442;*/
    /*border-color: #8dc442;*/
    /*border-width: 16px 0;*/
    /*color: #8dc442;*/
/*}*/


/*input[type="range"]::-ms-backdrop{*/
    /*background-color:#8dc442;*/
/*}*/

/*input[type="range"]{*/
    /*background:-webkit-linear-gradient(left ,#8870FF 0%,#8870FF 25%,#fff 25%, #fff 100%);*/
/*}*/

/*input[type="range"]::-ms-fill-lower {*/
    /*background-color: #8dc442;*/
    /*border-radius: 5px;*/
/*}*/
/*input[type="range"]::-ms-fill-upper {*/
    /*background-color: #8dc442;*/
    /*border-radius: 5px;*/
/*}*/


/*input[type="range"]::-ms-thumb {*/

    /*background: #8dc442;*/
    /*}*/

     /*=============================*/

/*input[type="range"]::-ms-range-progress {*/
    /*background-color: #8dc442;*/
/*}*/

/*input[type="range"]::-ms-track {*/
    /*background-color: #8dc442;*/
/*}*/


/*input[type="range"]::-moz-range-track {*/
    /*background-color:#fdfefd;*/
/*}*/

/*input[type="range"]::-ms-fill-lower {*/
    /*background-color: #8dc442;*/
/*}*/

/*input[type="range"]::-ms-fill-upper {*/
    /*background-color: #fdfefd;*/
/*}*/



    /*=====================*/

/*input[type='range']::-webkit-slider-thumb {*/
    /*width: 100%;*/
    /*-webkit-appearance: none;*/
    /*!*height: 10px;*!*/
    /*cursor: ew-resize;*/
    /*background: #434343;*/
    /*box-shadow: -80px 0 0 80px #43e5f7;*/
/*}*/

/*input[type=range]::-moz-range-thumb {*/
    /*!*background-color:#8dc442;*!*/
/*}*/
/*input[type="range"]{*/
    /*-webkit-appearance: none;*/
    /*border-radius:2px;*/
    /*width:200px;*/
    /*height:3px;*/
    /*background-image:-webkit-linear-gradient(left ,#f22 0%,#f22 50%,#fff 50%, #fff 100%);*/
    /*box-shadow:inset #ebb 0 0 5px;*/
    /*outline : none;*/
    /*transition:.1s;*/
/*}*/
/*input[type="range"]::-webkit-slider-thumb{*/
    /*-webkit-appearance: none;*/
    /*width:10px;*/
    /*height:10px;*/
    /*background:#f22;*/
    /*border-radius:50%;*/
    /*transition:.1s;*/
/*}*/

/*input[type="range"]::-webkit-slider-thumb:hover,*/
/*input[type="range"]::-webkit-slider-thumb:active{*/
    /*width:16px;*/
    /*height:16px;*/
/*}*/

/*input[type='range']::-webkit-slider-thumb {*/
    /*-webkit-appearance: none;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*background: #f22;*/
    /*border-radius: 50%;*/
    /*transition: .1s;*/
/*}*/
/*input[type='range'] {*/
    /*background-image: -webkit-linear-gradient(left, #f22 0%, #f22 15%, #fff 15%, #fff 100%);*/
    /*!*background: #f22;*!*/
/*}*/

/*input[type='range']::-webkit-slider-thumb{*/
    /*-webkit-appearance: none;*/
    /*width:18px;*/
    /*height:18px;*/
    /*background:#8dc442;*/
    /*border-radius:18px;*/
    /*cursor:pointer;*/
    /*transition:.1s;*/
/*}*/


.vgazline{
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: 4em;
    width: 0%;
    height: 5px;
    background-color:#8dc442 ;
    z-index: 12;
}

.lgazline{
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: 1em;
    width: 0%;
    height: 5px;
    background-color:#8dc442 ;
    z-index: 12;
}

.block{
    margin-top: 10px;
    margin-bottom: 10px;
}

.calc{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    /*min-height: 20px;*/
    height: auto;
    background-color: #edecea;
}
.calc_block{
    display: block;
    width: 70%;
    min-height: 200px;
    margin: 0 auto;
    border: 1px solid #c9c9c9;
    margin-top: 10px;
}
.calc_block1{
    display: block;
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-bottom: 30px;
    border: 1px solid #000000;
    margin: 0 auto;
}

.calc_block h2{
    font-family: 'sans-serif';
    font-size: 3em;
    font-weight: 800;
    color: #3a0b8c;
    text-transform: none;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    padding-left: 20px;

}

.calc_block1_text{
    display: block;
    width: 70%;
    float: left;
}

.calc_block1_text p{
    font-family: 'sans-serif';
    font-size: 1em;
    color: #000000;
    text-transform: none;
    padding-left: 20px;
    margin: 0;
}

.calc_block1_zn{
    display: block;
    width: 20%;
    float: left;
}

.calc_block1_pol{
    display: block;
    width: 90%;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.calc_block1_pol span{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -5px;
    float: left;
}

.calc_block1_pol input{
    display: block;
    float: left;
    width: 70%;
}

.VgazmaxR{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 1px;
    margin-left: 30%;
    float: left;
    width: 50%;
}

.calc_block2{
    display: block;
    position: relative;
    overflow: hidden;
    width: 80%;
    border: 1px solid #000000;
    margin: 0 auto;
}
.LgazmaxR{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 1px;
    margin-left: 30%;
    float: left;
    width: 50%;

}
.calc_block3{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.calc_block3 p{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.calc_block3 button{
    background-color:#0100fe;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.calc_block5{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.calc_block5_zena{
    display: block;
    width: 30%;
    margin: 0 auto;
}
.calc_block5_zena p{
    font-family: 'Fira Sans';
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1em;
    color: #5c5c5c;
    float: left;
    margin-left: 10px;
    text-align: center;
}

.calc_block5_zena span{
    font-size: 28px;
    font-weight: 700;
    color: #47953e;
    margin-left: 10px;
    /*float: right;*/
}

.calc_block5_zena p b{
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #47953e;
    margin-left: 10px;
    float: right;
}


@media only screen  and (max-width: 1024px) {
    
    .calc_block1_text p {

        font-size: 1em;
        padding-left: 10px;
    }

    .calc_block2_text p {
        font-size: 1em;
        padding-left: 10px;
    }

    .calc_block3_text p {
        font-size: 1em;
        padding-left: 10px;
    }

    .calc_block4_check label{
        font-size: 1em;
    }
}


@media only screen  and (max-width: 768px) {
     .calc_block1_pol span{
        font-size: 17px;
    }
    .calc_block2_pol span{
        font-size: 17px;
    }
    .calc_block2_pol input {
         width: 65%
    }
    .calc_block2_pol input {
         width: 65%
    }
    .calc_block1_text {
        display: block;
        width: 100%;
        float: right;
    }
    .calc_block2_text {
        display: block;
        width: 100%;
        float: right;
    }
    .calc_block1_pol {
        display: block;
        width: 70%;
        float: left;
    }
    .calc_block2_pol {
        display: block;
        width: 70%;
        float: left;
    }
    .calc_block1 {
        margin-bottom: 50px;
    }
    .ServmaxR{
        width: 100%;
        margin-left: 0;
    }
    .ServmaxST{
        width: 100%;
        margin-left: 0;
    }
}

@media only screen  and (max-width: 480px) {
    .ServmaxR{
        width: 100%;
        margin-left: 0;
    }
    .ServmaxST{
        width: 100%;
        margin-left: 0;
    }
}