.container {
    width: 960px;
}

.header {
    background-color: #ffffff;
    height: 80px;
    width: auto;
}

.header_text {
    height: 40px;
    font-family: Arial;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #dd500f;

}

.header_img {

    float: right;
}

.menu{
    display: block;
    float: left;
    margin-left: -170px;
    padding: 0;
    position: fixed;
    top: 200px;
    width: 370px;

    -moz-transform: rotate(-90deg);

    -webkit-transform: rotate(-90deg);

    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */


}

.menu > button{
    float: left;
    margin-left: 10px;

    color:#dd500f ;
    background: url("../img/fon_footer.png") repeat;
    font: bold;
}





.bloc1 {
    margin-bottom: 50px;
}

.bloc1_text {
    font-family: Arial-Black;
    font-family: bold;
    font-size: 32px;
    color: #dd500f;
    text-align: center;
}

.bloc1_list1_text {
    font-family: Arial-Black;
    font-family: bold;
    font-size: 24px;
    color: #dd500f;
}

.bloc1_circle_number {
    border: 2px solid #dd500f;
    width: 30px;
    height: 30px;
    line-height: 25px;
    background-color: #dd500f;
}
.bloc1_circle_line{
    display: block;
}


.carousel-image {
    border: 2px solid orange;
}

.bloc1_list1_button > button {
    border-radius: 5px;
    background: #dd500f;
    color: #ffffff;
    font-size: 18px;
}

.bloc2_text1 {
    font-family: Arial-Black;
    font-family: bold;
    font-size: 20px;
    color: #3d2b28;
    text-align: center;
}

.bloc2_text2 {
    font-family: Arial-Black;
    font-family: bold;
    font-size: 30px;
    color: #3d2b28;
    text-align: center;

}

.bloc2 {
    width: auto;
    height: 600px;

}

.bloc2_list1 {
    width: auto;
    float: right;
    margin-left: 50px;
}

.bloc2_list1 > ul {
    list-style-image: url("../img/ListIcon2.jpg");
}

.bloc2_list1 > ul > li {
    font-family: Arial-Black;
    font-family: bold;
    font-size: 20px;
    color: #dd500f;
}

.bloc2_list1 {
    width: auto;
    margin-left: 50px;
}

.bloc2_list2 > ul {
    list-style-image: url("../img/ListIcon2.jpg");
}

.bloc2_list2 > ul > li {
    font-family: Arial-Black;
    font-family: bold;
    font-size: 20px;
    color: #dd500f;
}

.bloc2_foto {
    text-align: center;
}

.bloc2_partner {
    width: auto;
    height: auto;

}

.bloc2_partner_text1 {
    font-family: Arial-Black;
    font-family: bold;
    font-size: 20px;
    color: #3d2b28;
    text-align: center;
}

.bloc2_list3 {
    width: auto;
    float: right;
    margin-left: 100px;
    margin-top: 50px;
}

.bloc2_list4 {
    width: auto;
    margin-left: 100px;
    margin-top: 50px;
}

.bloc2_list3_text {
    font-family: Arial-Black;
    font-family: bold;
    font-size: 24px;
    color: #dd500f;
    text-align: center;
}

.bloc_recall {
    width: auto;
    margin-top: 50px;
    background-color: #ffffff;

}

.bloc_recall_text {
    font-family: Arial-Black;
    font-family: bold;
    font-size: 30px;
    color: #dd500f;
    text-align: center;
}

.bloc_recall_foto {
    display: block;
    margin-top: 10px;
    width: 103px;
}

.bloc_recall_button {
    display: block;
    width: 300px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
}

.bloc_recall_button > button {
    display: block;
    margin-top: 50px;
    text-align: center;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    background: #dd500f;
    color: #ffffff;;
    font-size: 28px;
    border: 0;
}

.bloc_recall_text2 {
    margin-top: 10px;
    display: block;
    font-family: Arial-Black;
    font-family: bold;
    font-size: 30px;
    color: #dd500f;
    text-align: center;
}

.bloc_recall_icon {
    display: block;
    margin-top: 50px;
    text-align: center;
}

.video_block {
    display: none;
}

.video_block.active {
    display: block;
}

.footer {
    display: block;
    margin-top: 20px;
    width: auto;
    min-height: 150px;
    background: url("../img/fon_footer.png") repeat;
}

.footer_adres {
    margin-top: 20px;
    text-align: center;
    font-family: Arial-Black;
    font-size: 18px;
}

.footer_logo{
    margin-top: 30px;
    text-align: center;
}

.footer_logo > p > a{
    margin-top: 30px;
    text-align: center;
    font-family: Arial-Black;
    font-size: 14px;
    color:#dd500f ;
    text-decoration: underline;
 }

.footer_icon{
    margin-top: 30px;
    text-align: center;
}

.footer_icon_text{
    text-align: center;
    font-family: Arial-Black;
    font-size: 14px;
    color: #000000;
}

.footer_icon_icon{
    margin-top: 30px;
    text-align: center;
}