@font-face {
    font-family: HelveticaNeueCyr-Roman; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/HelveticaNeueCyr-Roman.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face{
    font-family: DroidSerifRegular; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/DroidSerif/DroidSerifRegular.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
    src: url(../fonts/DroidSerif/DroidSerifRegular.eot); /* ֿףע ך פאיכף סמ רנטפעמל */
    src: url(../fonts/DroidSerif/DroidSerifRegular.woff); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face{
    font-family: UbuntuRegular; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/Ubuntu/UbuntuRegular.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face{
    font-family: HelveticaNeueCyr-Light; /* ֳאנםטעףנא רנטפעא */
    src: url(../fonts/HelveticaNeueCyr-Light.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
