@import"reset200802.css";

.body {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: hidden;
}

.container_mob{
    display: none;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;

}


.col-lg-6{
    padding: 0 0 0 0 ;
    margin: 0 auto;
    -webkit-backface-visibility: hidden;
    -webkit-transform: skewX(0deg) translate3d(0, 0, 0);
}

.block {
    height: 100%;
}

.rows {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-transform: skewX(0deg) translate3d(0, 0, 0);
}

.navigation {
    position: absolute;
    right: 30px;
    top: 26px;
    display: inline-block;
    z-index: 99999;
    width: 330px;
    height: 43px;
    background-color:#f3f3f3 ;
    opacity: 0.7; /* Полупрозрачный фон */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
}

.navigation ul{
    padding-left: 10px;
}

.navigation a {
    font:13px "UbuntuBold";
    padding-right: 14px;
    color: black;
}

.navigation2{
    display: block;
    position:absolute;
    margin-left: 90%;
    padding-top: 230px;
    z-index: 999;



}


.logo {
    position: absolute;
    z-index: 99999;
    top: 26px;
    left: 53px;
    width: 132px;
    height: 43px;
    background-color:#f3f3f3 ;
    opacity: 0.7; /* Полупрозрачный фон */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
}

/*		первый  блок слайдера */

.slide_foto1{
	
	display: block;
    max-width: 100%;
    position: relative;
    min-height: 654px;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;
	
}

.slide_foto1 img{
    min-height: 100%;
    width: 100%;
}

.slide_text{
    display: block;
    padding-left: 90px;
    padding-top: 40%;
    height: 90%;
}

.slide_text h1{
    font:30px "UbuntuBold";
}
.slide_text_inc{
    display: block;
    position: relative;
}

.slide_text p{
    font: 16px "DroidSerifRegular";
    color: #4b4b4b;
    margin-top: 45px;
    width: 90%;
}

.slide_text b{
    display: block;
    font:13px "UbuntuBold";
    margin-top: 45px;
    color: #2b669a;
}

.slide_text a{
    display: block;
    font:13px "UbuntuBold";
    margin-top: 45px;
    color: #2b669a;
}


.slide_text span{
    margin-top: 5px;
    margin-left: 5px;
}


.slide_text_inc:hover .popup_1_1, .popup_1_1:hover{
    opacity:1;
    visibility: visible;
}

.popup_1_1 p{
    font: 14px "DroidSerifRegular";
    color: #000000;
    margin-top:18px;
    text-align: center;
}


.popup_1_1{
    position: absolute;
    width: 260px;
    height: 100px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    top: 1px;
    left: -300px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 16px 0px #000000;
    background: #ffffff;
}

.popup_1_1:after, .popup_1_1:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #ffffff;

}

.popup_1_1:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #000000;
    border-width: 30px;
    margin-top: -30px;


}
.popup_1_1:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 36px;
    margin-top: -36px;
}

.slide{
    display: block;
    height: 100%;
}

.slide_text_full{
    display: none;
    padding-left: 90px;
    padding-top: 10%;
    height: 95%;


}

.slide_text_full p{
    font: 16px "DroidSerifRegular";
    color: #4b4b4b;
    height: 90%;
    margin-top: 20px;
    width: 85%;
    overflow-y: scroll;

}


.popup_success{
    display: none;
    position: fixed;
    top: 30px;
    left: 28%;
    width: 40%;
    height: 200px;
    background-color:#ffffff;
    margin: 0 auto;
    z-index: 9999999;
    border: 1px solid  #343434;
}

.popup_success p{
    display: block;
    font: 25px "exo_2_regular";
    font-weight: bold;
    color: #343434;
    text-align: center;
    line-height: 39px;
    margin: 0 auto;
    padding-top: 10px;
}

.popup_success .poplight{
    display: block;
    width: 192px;
    height: 56px;
    margin: 0 auto;
    clear:both;
    border: solid 1px #2f96b4;
    /* закругляем углы кнопки */
    border-radius: 5px;
    background-color: #4f73d1;
    color:#fff;
    font:15px "Ubuntu";
    padding:14px 12px;
    text-align:center;
    cursor:pointer;
    border-bottom: 8px solid #3050a4;

}








/*		Второй  блок слайдера */


.slide_foto2 {
   display: block;
    max-width: 100%;
    position: relative;
    min-height: 654px;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;
}

.slide_foto2 img{
     min-height: 100%;

}

.slide2_text{
    display: block;
    padding-left: 45px;
    padding-top: 40%;
    height: 90%;
 }

.slide2_text h1{
    font:30px "UbuntuBold";

}
.slide2_text_inc{
    display: block;
}

.slide2_text p{
    font: 16px "DroidSerifRegular";
    color: #4b4b4b;
    margin-top: 45px;
    width: 90%;
}

.slide2_text b{
    display: block;
    font:13px "UbuntuBold";
    margin-top: 45px;
    color: #2b669a;
}

.slide2_text span{
    margin-top: 5px;
    margin-left: 5px;
}


.slide2_text_inc:hover .popup_1_2, .popup_1_2:hover{
    opacity:1;
    visibility: visible;
}

.popup_1_2 p{
    font: 14px "DroidSerifRegular";
    color: #000000;
    margin-top:18px;
    text-align: center;
}


.popup_1_2{
    position: absolute;
    width: 201px;
    height: 100px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    top: 365px;
    left: 435px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 16px 0px #000000;
    background: #ffffff;
}

.popup_1_2:after, .popup_1_2:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #ffffff;

}

.popup_1_2:after {
    border-color:rgba(255, 255, 255, 0);
    border-right-color: #000000;
    border-width: 30px;
    margin-top: -30px;


}
.popup_1_2:before {
    border-color: rgba(255, 255, 255, 0);
    border-width: 30px;
    margin-top: -36px;
}
.slide2{
    display: block;
    height: 100%;
}


.slide2_text_full{
    display: none;
    padding-left: 90px;
    padding-top: 10%;
    height: 95%;
}

.slide2_text_full b{
    display: block;
    font:13px "UbuntuBold";
    margin-top: 45px;
    color: #2b669a;

}

.slide2_text_full p{
    font: 16px "DroidSerifRegular";
    color: #4b4b4b;
    margin-top: 20px;
    height: 90%;
    width: 80%;
    overflow-y: scroll;
}


/*		Третий  блок слайдера */

.slide_foto3{
    display: block;
    max-width: 100%;
    position: relative;
    min-height: 654px;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;

}
.slide_foto3 img{
    
    width: 100%;
    min-height: 100%;

}




.slide3_text{
    display: block;
    padding-left: 45px;
    padding-top: 40%;
    height: 90%;
}

.slide3_text h1{
    font:30px "UbuntuBold";
}
.slide3_text_inc{
    display: block;
}

.slide3_text p{
    font: 16px "DroidSerifRegular";
    color: #4b4b4b;
    margin-top: 45px;
    width: 90%;

}

.slide3_text b{
    display: block;
    font:13px "UbuntuBold";
    margin-top: 45px;
    color: #2b669a;
}
.slide2_text span{
    margin-top: 5px;
    margin-left: 5px;
}


.slide3_text_inc:hover .popup_1_3, .popup_1_3:hover{
    opacity:1;
    visibility: visible;
}

.popup_1_3 p{
    font: 14px "DroidSerifRegular";
    color: #000000;
    margin-top:18px;
    text-align: center;
}


.popup_1_3{
    position: absolute;
    width: 201px;
    height: 100px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    top: 330px;
    left: 435px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 16px 0px #000000;
    background: #ffffff;
}

.popup_1_3:after, .popup_1_3:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #ffffff;

}

.popup_1_3:after {
    border-color:rgba(255, 255, 255, 0);
    border-right-color: #000000;
    border-width: 30px;
    margin-top: -30px;


}
.popup_1_3:before {
    border-color: rgba(255, 255, 255, 0);
    border-width: 30px;
    margin-top: -36px;
}


.slide4{
    display: block;
    height: 100%;
}


.slide3_text_full{
    display: none;
    padding-left: 90px;
    padding-top: 10%;
    height: 95%;
}
.slide3_text_full b{
    display: block;
    font:13px "UbuntuBold";
    margin-top: 45px;
    color: #2b669a;

}

.slide3_text_full p{
    font: 16px "DroidSerifRegular";
    color: #4b4b4b;
    margin-top: 20px;
    width: 85%;
    height: 90%;
    overflow-y: scroll;
}

/*		Четвертый   блок слайдера */

.slide_foto4{
   display: block;
    max-width: 100%;
    position: relative;
    min-height: 654px;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 0 0; 
}
.slide_foto4 img{
	width: 100%;
    min-height: 100%;
}

.slide4_text{
    display: block;
    padding-left: 190px;
    padding-top: 40%;
    height: 90%;
}

.slide4_text h1{
    font:30px "UbuntuBold";

}
.slide4_text_inc{
    display: block;
}

.slide4_text p{
    font: 16px "DroidSerifRegular";
    color: #4b4b4b;
    margin-top: 45px;
    width: 90%;
}

.slide4_text b{
    display: block;
    font:13px "UbuntuBold";
    margin-top: 45px;
    color: #2b669a;
}
.slide4_text span{
    margin-top: 5px;
    margin-left: 5px;
}


.slide4_text_inc:hover .popup_1_4, .popup_1_4:hover{
    opacity:1;
    visibility: visible;
}

.popup_1_4 p{
    font: 14px "DroidSerifRegular";
    color: #000000;
    margin-top:18px;
    text-align: center;
}


.popup_1_4{
    position: absolute;
    width: 260px;
    height: 100px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    top: 350px;
    left: -110px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 16px 0px #000000;
    background: #ffffff;
}

.popup_1_4:after, .popup_1_4:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #ffffff;

}

.popup_1_4:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #000000;
    border-width: 30px;
    margin-top: -30px;


}
.popup_1_4:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 36px;
    margin-top: -36px;
}

.slide3{
    display: block;
    height: 100%;

}

.slide4_text_full b{
    display: block;
    font:13px "UbuntuBold";
    margin-top: 45px;
    color: #2b669a;

}

.slide4_text_full{
    display: none;
    padding-left: 90px;
    padding-top: 10%;
    height: 95%;

}

.slide4_text_full p{
    font: 16px "DroidSerifRegular";
    color: #4b4b4b;
    margin-top: 20px;
    width: 80%;
    height: 90%;
    overflow-y: scroll;
}


/*		Пятый  блок слайдера */
.slide_foto5{
    display: block;
    max-width: 100%;
    position: relative;
    min-height: 654px;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;
 }

.slide_foto5 img{
width: 100%;
    min-height: 100%;
}

.slide_five_text1{
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin-left: 100px;
    margin-top: 20%;
}

.slide_five_text1 h1{
    font:31px "UbuntuBold";
}

.slide_five_text1 h2{
    display: block;
    font:16px "UbuntuBold";
    margin-top: 35px;
}

.slide_five_text1 p{
    display: block;
    font:13px "UbuntuRegular";
    margin-top: 15px;
    color: #131313;
}

.slide_five_text1 b{
    display: block;
    font:13px "UbuntuBold";
    margin-top: 15px;
    color: #131313;
}

.slide_five_text1 b span{
   font:13px "UbuntuRegular";
    color: #131313;
    margin-left: 10px;
}

.slide_five_bloc_button1{
    display: block;
    width: auto;
    margin-top: 55px;
    float: left;
}

.slide_five_bloc_button1 .button{
    display: block;
    width: 160px;
    height: 44px;
    clear:both;
    margin: 0 auto;
   /* закругляем углы кнопки */
    border-radius: 25px;
    background-color: #edc201;
    color:#ffffff;
    font:17px "UbuntuBold";
    padding:10px 12px;
    text-align:center;
    cursor:pointer;
}

.slide_five_bloc_button1 .button:hover{
    background-color:#e38d13;
    text-decoration: none;
}


.slide_five_bloc_button1 .button:active{
    background-color:#edc201;
    color:black;
    text-decoration: none;
}

.slide_five_bloc_button1 img{
   display: block;
    margin-top: 29px;
    margin-left: 10px;
}


.slide_five_bloc_button2{
    display: block;
    width: auto;
    margin-top: 55px;
    float: right;
    margin-right: 185px;
}

.slide_five_bloc_button2 .button{
    display: block;
    width: 160px;
    height: 44px;
    clear:both;
    margin: 0 auto;
    /* закругляем углы кнопки */
    border-radius: 25px;
    background-color: #028eef;
    color:#ffffff;
    font:17px "UbuntuBold";
    padding:10px 12px;
    text-align:center;
    cursor:pointer;
}

.slide_five_bloc_button2 .button:hover{
    background-color:#165c8d;
    text-decoration: none;
}


.slide_five_bloc_button2 .button:active{
    background-color:#165c8d;
    color:black;
    text-decoration: none;
}

.slide_five_bloc_button2 img{
    display: block;
    margin-top: 29px;
    margin-left: 10px;
}





@media only screen  and (height: 1200px) {

    .slide_five_text1{

        margin-top: 40%;
    }



    .slide_foto1 {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: url("../img/slide1W1200.png") no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: cover;
    }
}





@media only screen  and (max-width: 768px) {

    .container {
        display: none;
}

    .container_mob{
        display: block;
        width: auto;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .logoM {
        display: block;
        padding-top: 2px;
        margin: 0 auto;
    }

      .logoMenu{
          display: block;
          margin-top: 26px;
          margin-left: 29px;

      }
    .logoM img{
        max-width: 100%;
        margin: 0 auto;
    }


    .slide1_mob{
        display: block;
        margin-bottom: 40px;
    }
    .slide1_text_mob{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .slide_text_mob{
        display: block;
        width: auto;
        margin-left:30px;
        padding-left: 5px;
        padding-top: 10%;
    }

    .slide_text_mob h1{
        font:26px "UbuntuBold";
    }
    .slide_text_inc_mob{
        display: block;
    }

    .slide_text_mob p{
        font:19px "DroidSerifRegular";
        color: #4b4b4b;
        margin-top: 45px;
    }

    .slide_text_mob b{
        display: block;
        font:19px "UbuntuBold";
        margin-top: 45px;
    }
    .slide_text_mob span{
        margin-top: 5px;
        margin-left: 5px;
    }

    .slide_text_full_mob{
        display: none;
        width: 250px;
    }

    .slide_text_full_mob p{
        font:19px "DroidSerifRegular";
        width: 250px;
        height: 130px;
        color: #4b4b4b;
        margin-top: 45px;
        overflow-y: scroll;
    }

    .slide_foto1_mob{
        display:block;
        width: 100%;
        min-height: 325px;
        padding-top: 20px;
        margin: 0 auto;
        background: url("../img/slide1W21.png") no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }
    .slide2_mob{
        display: block;
        margin-bottom: 40px;
    }
    /*		Второй  блок слайдера */


    .slide_foto2_mob{
        display:block;
        width: 100%;
        min-height: 325px;
        margin: 0 auto;
        background: url("../img/slide2N.png") no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }

     .slide3_mob{
         display: block;
         margin-bottom: 40px;
     }

    .slide_foto3_mob{
        display:block;
        width: 100%;
        min-height: 325px;
        margin: 0 auto;
        background: url("../img/slide3N.png") no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */

    }
    .slide4_mob{
        display: block;
        margin-bottom: 40px;
    }


    .slide_foto4_mob{
        display:block;
        width: 100%;
        min-height: 325px;
        margin: 0 auto;
        background: url("../img/slide4N.png") no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }
    .slide5_mob{
        display: block;
        margin-bottom: 40px;
    }


    .slide_foto5_mob{
        display:block;
        width: 100%;
        min-height: 325px;
        margin: 0 auto;
        background: url("../img/slide5.png") no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }

    .slide_five_mob{
        display: block;
        width: 100%;
        height:314px;
    }

    .slide_five_text1_mob{
        display: block;
        width: auto;
        height: auto;
        margin-left: 65px;
        margin-top: 20%;
        margin-bottom: 516px;
    }

    .slide_five_text1_mob h1{
        font:31px "UbuntuBold";
    }

    .slide_five_text1_mob h2{
        display: block;
        font:16px "UbuntuBold";
        margin-top: 35px;
    }

    .slide_five_text1_mob p{
        display: block;
        font:13px "UbuntuRegular";
        margin-top: 15px;
        color: #131313;
    }

    .slide_five_text1_mob b{
        display: block;
        font:13px "UbuntuBold";
        margin-top: 15px;
        color: #131313;
    }

    .slide_five_text1_mob b span{
        font:13px "UbuntuRegular";
        color: #131313;
        margin-left: 10px;
    }

    .slide_five_bloc_button1_mob{
        display: block;
        width: auto;
        margin-top: 55px;
        float: left;
    }

    .slide_five_bloc_button1_mob .button{
        display: block;
        width: 160px;
        height: 44px;
        clear:both;
        margin: 0 auto;
        /* закругляем углы кнопки */
        border-radius: 25px;
        background-color: #edc201;
        color:#ffffff;
        font:17px "UbuntuBold";
        padding:10px 12px;
        text-align:center;
        cursor:pointer;
    }

    .slide_five_bloc_button1_mob .button:hover{
        background-color:#e38d13;
        text-decoration: none;
    }


    .slide_five_bloc_button1_mob .button:active{
        background-color:#edc201;
        color:black;
        text-decoration: none;
    }

    .slide_five_bloc_button1_mob img{
        display: block;
        margin-top: 29px;
        margin-left: 10px;
    }


    .slide_five_bloc_button2_mob{
        display: block;
        width: auto;
        margin-top: 55px;
        margin-right: 95px;
        float: left;
    }

    .slide_five_bloc_button2_mob .button{
        display: block;
        width: 160px;
        height: 44px;
        clear:both;
        margin: 0 auto;
        /* закругляем углы кнопки */
        border-radius: 25px;
        background-color: #028eef;
        color:#ffffff;
        font:17px "UbuntuBold";
        padding:10px 12px;
        text-align:center;
        cursor:pointer;
    }

    .slide_five_bloc_button2_mob .button:hover{
        background-color:#165c8d;
        text-decoration: none;
    }


    .slide_five_bloc_button2_mob .button:active{
        background-color:#165c8d;
        color:black;
        text-decoration: none;
    }

    .slide_five_bloc_button2_mob img{
        display: block;
        margin-top: 29px;
        margin-left: 10px;
    }

    .popup_success{
        display: none;
        position: absolute;
        margin-top: -25px;
        width: 220px;
        height: 450px;
        background-color: #202221;
        float: left;
        z-index: 9999;
    }

    .button_close{
        display: block;
        width: auto;
        height: 30px;
        background-color: #000000;
    }

    .dropdown{
        display: block;
        margin-top: 30px;
        margin-left: 30px;
    }

     ul.dropdown  li a span {
        display:block;
        font: 15px "UbuntuBold";
        font-weight: bold;
        color: #ffffff;
        line-height:27px;
        margin-top: 15px;
    }

}
