* { margin: 0; padding: 0; }

.wrapper {
    min-height: 100%;
    width: 870px;
    background-color: #ffffff;
    margin: 0 auto;
}

.header {
    height: auto;
    width: 870px;
    display: inline-block;
}

.header_logo {
    display: inline-block;
}

.header_logo_bloc{
    width: 339px;
    height: 256px;
    background-color: #d0d0d0;
    margin: -256px 0 0 360px;
    display: inline-block;
}

.header_logo_bloc_text{
    width: 233px;
    height: auto;
    margin-left: 33px;
}

.header_logo_bloc_text1{
    font-size: 18px;
    color: #151515;
}

ul {
    list-style: none;
}
li {
    position: relative;
    list-style-type: none;
    font-size: 10px;
    color: #545454;
}
li:before {
    /* Тут указать нужный символ */
    content:"\2714";
    display: inline-block;
    text-decoration: inherit;
    left: 15px;
    text-decoration: inherit;
    text-transform: none;
    text-indent: -5px;
    font-size: 10px;
    color: #545454;
}

.header_button{
    width: 302px;
    height: 68px;
    margin-top: 20px;
    display: inline-block;
}

.button{
    width: 242px;
    height: 41px;
    margin: 15px 0 0 0;
    background: url("images/Button1.jpg") no-repeat;
}

.header_logo_bloc_ban1{
    margin: -40px 0 0 180px;
}

.header_logo_bloc_ban2{
    margin: -40px 0 0 220px;
}

.header_logo_bloc_text4{
    font-size: 8px;
    color:#7e7e7e;
}

.header_logo_menu{
    height: 25px;
    background-color:#ae0000;
}

.header_logo_menu_p1{
    height: 25px;
    width: 96px;
    margin-left: 140px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
}

.header_logo_menu_p1:hover{
    background-color: #1e0909;
}

.header_logo_menu_p2{
    height: 25px;
    width: 96px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
}

.header_logo_menu_p2:hover{
    background-color: #1e0909;
}

.header_logo_icon1{
    height: 25px;
    width: 88px;
    margin: -25px 0 0 550px ;
}


.header_logo_icon2{
    height: 25px;
    width: 70px;
    margin: -25px 0 0 670px ;
}



.content{
   background-color:  beige;
   min-height: 45px;
   width:870px ;
   display: inline-block;
}

.content_logo_1{
    height: 100px;
    width: 118px;
    display: inline-block;
    background: url("images/Logo2.jpg") no-repeat;
 }

.content_logo_text1{
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin: -80px 0 0 0;
 }

.content_logo_text2{
    font-size: 14px;
    color: #000000;
    margin: 10px 0 0 120px;
}
.content_logo_text3{
    font-size: 14px;
    color: #000000;
    margin-left: 10px;
}

.content_logo_button{
    min-height: 42px;
    color: aquamarine;
    display: inline-block;
}

.content_logo_button1{
    width: 162px;
    height: 42px;
    margin-left: 320px;
    background: url("images/Button2.jpg") no-repeat;
    display: inline-block;
}
.content_logo_ban1{
    display: inline-block;
    margin-left: 20px;
}

.content_logo__ban2{
    display: inline-block;
    margin-left: 20px;
}

.content_logo__line{
    width: 870px;
    min-height: 15px;
    display: inline-block;
    background-color:#5b7fa6 ;
}

.content_logo__lne_logo1{
    height: 16px;
    width: 87px;
    margin-left: 20px;
    display: inline-block;
}

.content_logo__lne_logo2{
    height: 16px;
    width: 16px;
    margin-left: 720px;
    display: inline-block;
}

.content_logo__Post{
    min-height: 350px;
    width: 870px;
    display: inline-block;
    background-color:#ffffff;
}

.content_logo_icons{
    min-height: 115px;
    width: 870px;
    display: inline-block;
    background-color:#ffffff;
}

.content_logo_icons1{
    height: 61px;
    width: 500px;
    margin-left: 100px;
    display: inline-block;
}


.footer{
    width: 870px;
    min-height: 70px;
    display: inline-block;
    background-color:#000000 ;
}
.footer_text{
    font-size: 12px;
    color: beige;
    margin-left: 40px;
    display: inline-block;
 }