.body {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background-color: green;
}

.container {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.header_menu_fiks{
    display:block;
    width: auto;
    position: fixed;
    z-index: 128;
}

.block1 {
    margin-top: 179px;
}


/*Описание header и его компонентов */

.header {
    display:block;
    width: auto;
    height: 114px;
    margin: 0 auto;
    background: url("../img/FonHeader1.png") no-repeat 100% 100%;
}



.header_logo {
    display:inline-block;
    width: 218px;
    height: auto;
    float: left;
}

.header_menu_logo {
    display: inline-block;
    width: 556px;
    height: 114px;
}

.header_menu{
    display: inline-block;
    width: 506px;
    height: 42px;
    margin-top: 12px;
}

.header_menu a{
    font-size: 13px;
    font-family: "DINPro-Regular";
    font-weight: bold;
    color: #902829;
    text-decoration:underline;
    margin-top: 10px;
}

.header_telefon {
    width: auto;
    height: auto;
    display: inline-block;
    float: right;
}

.header_telefon  p{
    font-size: 27px;
    font-family: "DINPro-Bold";
    color: #477bc3;
    margin-top: 10px;
    margin-right: 22px;
}

.header_telefon_button{
    display: inline-block;
    width: 222px;
    height: 114px;
    float: right;
}

.header_text{
    width: 506px;
    height: 45px;
    display: inline-block;
   }

.header_text h1{
    font-size: 49px;
    font-family: "DINPro-Bold";
    color: #cb8721;
    margin: 0 0 0 0;
    text-shadow:  #ffffff 3px 0px, #ffffff 3px 0px, #ffffff -3px -2px,
                  #ffffff -5px 1px, #ffffff -1px 0px, #ffffff -1px -1px,
                  #ffffff -3px -1px, #ffffff 1px -1px, #ffffff 0 0 3px,
                  #ffffff 0 0 3px, #ffffff 0 0 3px, #ffffff 0 0 3px, #ffffff 0 0 3px,
                  black 4px 0 3px, black 3px 0 3px, black 3px 0 3px;
}


.header_button1{
    width:207px;
    height: 56px;
    display: inline-block;

}

.header_button1 .poplight {
    width: 207px;
    height: 56px;
    background-image: url("../img/ButtonF11.png");
    display: inline-block;
}





/*Описание блока "МЕНЮ" и его омпонентов */
.menu{
    display:block;
    width: 100%;
    height: 63px;
    background: url("../img/Menu.png") no-repeat;
}

.menu a{
    display: inline-block;
    height: 100%;
    font-size: 13px;
    font-family: "DINPro-Regular";
     color: #ffffff;
    text-decoration:none;
    padding-left: 30px;
    padding-right: 29px;
    padding-top: 24px;
    border-right: 1px solid #c5c6c8;
}

/*Описание блока  (Дата и Поиск) и его компонентов */

.header_data_Search{
    display:inline-block;
    width: 100%;
    height: 30px;
    background-color: #f6a120;
    position: relative;
}

.data{
    display:inline-block;
    width: 300px;
    height: 21px;
    margin-left: 20px;
    padding-top: 5px;
 }

.data p{
    font-size: 16px;
    font-family: "DINPro-Regular";
    font-weight: bold;
    color: #000000;
}

.search{
    display:inline-block;
    width: 270px;
    float: right;
    height: 21px;
    padding-top: 5px;
}

input[type="search"] {
    height: 22px;
    width: 228px;
    border: none;
    float: left;
    display: inline-block;
}

input[type="submit"] {
    border: none;
    width: 42px;
    height: 27px;
    background: url("../img/search1.png") no-repeat 50% 50%;
    float: left;
    margin-left: -19px;
    display: inline-block;
}

/*Описание "Бегущая строка" и его компонентов */
.bloc_marquee{
    display:block;
    width: 100%;
    height: 155px;
    background-color: #ffffff;
}

.marquee_content {

    display:inline-block;
    width: 100%;
    height: 142px;
    background-color: #e5e3e4;
    margin-top: 5px;
}

.marquee_content_foto{
    display:block;
    width: 908px;
    height: 142px;
    background-color: #e5e3e4;
    margin: 0 auto;
    padding-top: 5px;
}


/*Описание content (Контент фото, слайдеры и т.д.) и его компонентов */

.content{
    display:block;
    width: 1000px;
    height: auto;
    margin: 0 auto;
 }
/*Описание content_menu_lef (Левое меню) и его компонентов */
.content_menu_left{
    display:inline-block;
    width: 200px;
    height: auto;
}

.content_menu_bloc{
    display:block;
    width: 189px;
    min-height: 436px;
}



.content_menu_titel{
    display:block;
    width: 189px;
}

.content_menu_titel p{
    display:block;
    width: auto;
    font-size: 16px;
    font-family: DINPro;
    font-weight: bold;
    color: #0f65a8;
    margin: 0;
    padding-top: 10px;
}

.content_menu_foto1{
    display:block;
    width: 189px;
    height: auto;
    margin-top: 10px;
}

/*Описание content_block2 (Фото, слайдеры, текст и т.д.) и его компонентов */

.content_block2{
    display:inline-block;
    width: 800px;
    height: auto;
    background-color: #ffffff;
    float: right;
}

/*Описание content_block2_1 (Текст и слайдер) и его компонентов */
.content_block2_1{
    display:block;
    width: 800px;
    height: 396px;
    background-color: #ffffff;
    margin-left: 5px;
}

.content_block2_1 h1{
    display:block;
    width: auto;
    font-size: 42px;
    font-family: DINPro;
    font-weight: bold;
    color: #010101;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.content_block2_text{
    display:inline-block;
    width: 250px;
}


.content_block2_text p{
    display:inline-block;
    font-size: 12px;
    font-family: Arial, Regular;
    color: #010101;
    margin-top: 10px;
    text-indent: 20px;
}


.content_block2_slider{
    display:inline-block;
    width: 530px;
    height: 290px;
    float: right;


}

#gallery, #thumbs{
    float: left;
}

#gallery{
    width: 430px;
    height: 290px;
    overflow: hidden;
}

#gallery img{
    position: absolute;
}

#thumbs{
    width: 80px;
    height: 290px;
    overflow: hidden;
}

#next{
    display: block;
    width: 47px;
    height: 43px;
    background: url(../img/slider/arrow.png);
    position: relative;
    top: 241px;
    left: 435px;
}

#next:hover{
    background: url(../img/slider/arrowmo.png);
}

.clear{
    clear: both;
}

/*Описание content_block2_2 (Видео и фото) и его компонентов */
.content_block2_2{
    display:block;
    width: 800px;
    height: 720px;
    background-color: #f4f4f4;
    float: right;
}

.content_block2_2_titel{
    display:inline-block;
    width: auto;
    margin-bottom: 10px;

}

.content_block2_2 h1{
    font-size: 30px;
    font-family: DINPro;
    font-weight: bold;
    color: #db8a10;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
}

.content_block2_2_video{
    display:inline-block;
    width: 359px;
    height: 663px;
    margin-left: 10px;
    float: left;
 }
.content_block2_2_video iframe{
    margin-top: 5px;
    margin-bottom: 10px;
}

.content_block2_2_foto{
    display:inline-block;
    width: 408px;
    height: 663px;
    margin-left: 10px;
    float: right;
}

.content_block_foto1{
    display:inline-block;
    width: 126px;
    height: 663px;
    margin-left: 2px;
    float: left;
}
.content_block_foto1 img{
    margin: 2px 2px 2px 2px;
}


.content_block_foto2{
    display:inline-block;
    width: 130px;
    height: 663px;
    margin-left: 6px;
}

.content_block_foto2 img{
    margin: 2px 2px 2px 2px;
}

.content_block_foto3{
    display:inline-block;
    width: 138px;
    height: 663px;
    margin-left: 2px;
    float: right;
}

.content_block_foto3 img{
    margin: 3px 2px 2px 2px;
}


/*Описание content_block2_3 (3 фото с рекламой) и его компонентов */

.content_block2_3{
    display:block;
    width: 800px;
    height: 486px;
    background-color: #f4f4f4;
    float: right;
    margin-top: 20px;
}

.content_block2_3_titel{
    display:inline-block;
    width: 800px;
    height: 45px;
    margin-bottom: 10px;

}

.content_block2_3 h1{
    font-size: 30px;
    font-family: DINPro;
    font-weight: bold;
    color: #db8a10;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
}

.content_foto1{
    display:inline-block;
    width: 235px;
    height: 415px;
    margin-left: 10px;
    float: left;
    background-color: #fefaf9;
    border: 1px solid black;
}

.content_foto_icon{
    display: block;
    position: relative;
    width: 70px;
    height: 62px;
    z-index: 10;
    float: left;
    top: -12px;
    left: -10px;

}


.content_foto_top{
    display:block;
    position: relative;
    width: 217px;
    height: 176px;
    z-index: 1;
    margin-left: 8px;
    top: -40px;
  }

.content_foto_titel{
    display:block;
    position: relative;
    width: auto;
    height: 40px;
    top: 22px;
}

.content_foto_titel h1{
    font-size: 14px;
    font-family: DINPro;
    font-weight: bold;
    color: #208ad4;
    text-align: center;
}

.content_foto_text{
    display:block;
    position: relative;
    width: auto;
    height: auto;
    top: 22px;
}

.content_foto_text p{
    font-size: 12px;
    font-family: Arial, Regular;
    color: #000000;
    margin: 0 0 0 0;
    text-align: center;
}

.content_foto_text p span{
    font-size: 12px;
    font-family: Arial, Regular;
    color: #000000;
    font-weight: bold;
    text-align: right;
}


.content_foto2{
    display:inline-block;
    width: 235px;
    height: 415px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fefaf9;
    border: 1px solid black;
}

.content_foto3{
    display:inline-block;
    width: 235px;
    height: 415px;
    margin-right: 20px;
    background-color: #fefaf9;
    border: 1px solid black;
    float: right;
}

.content_foto_futer{
    display:block;
    position: relative;
    width: auto;
    height: 30px;
    background-color: #d8d8e2;
    top: 27px;
}

.content_foto_futer a{
    display:block;
    padding-top: 5px;
    font-size: 12px;
    font-family: Arial, Regular;
    text-decoration:  underline;
    text-align: center;
}

/*Описание content_block_map (Яндекс карта) и его компонентов */
.content_block_map{
    display:block;
    width: 800px;
    height: 477px;
    background-color: #f4f4f4;
    float: right;
    margin-top: 20px;
}


.content_block_map_titel{
    display:inline-block;
    width: 800px;
    height: 45px;
    margin-bottom: 10px;

}

.content_block_map_titel h1{
    font-size: 30px;
    font-family: DINPro;
    font-weight: bold;
    color: #db8a10;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
}

.content_map{
    display:inline-block;
    width: 800px;
    height: 390px;
    margin-bottom: 10px;
}


/*Описание block_futer (Подвал) и его компонентов */

.block_futer{
    display:inline-block;
    width: 1000px;
    height: 300px;
    margin-bottom: 10px;
    background: url(../img/FonFuter.png);
}

.block_futer_menu{
    display:block;
    width: 1000px;
    height: 150px;
    margin: 0 auto;
    margin-top: 150px;
 }

.header_text2{
   display: inline-block;
    width: 1000px;
    margin: 0 auto;
}

.header_text2 p{
    font-size: 14px;
    font-family: Arial, Regular;
    color: #3a3a3a;
    text-align: center;
    margin-top: 10px;
}