body{
    background-color: #ffffff;
}

/*		Описание блока калькулятора и его компонент		*/

.calculator{

  width:50%;
    display: block;
    position: relative;
    overflow: hidden;
    height: auto;
     margin:0 auto;
  /*background-color: #ACD6F5;*/
  /*border-radius:10px;*/
    border: 1px solid #000000;
}


.calculator h2{
    font-size: 28px;
    line-height: 36px;
    color: #32a9d1;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 15px;
}
.calc_block_menu{
    display: block;
    margin-bottom: 20px;
}
.calc_menu{
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.calc_menu li{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #eef2f4;
    /*border-bottom: none;*/
    font: 500 16px/24px 'Roboto',Arial,Helvetica,Tahoma,sans-serif;
    color: #585858;
}

.calc_menu .active{
    background: #eef2f4;
    cursor: pointer;
}


.calc_blocks_calculator{
    display: block;
    width: 95%;
    height: auto;
    min-height: 100px;
    border: 4px solid #eef2f4;
    padding: 10px;
    margin: 0 auto;
}

.calc_blocks_calculator h3{
    color: #32a9d1;
}

.calc_block_calculator h3{
    font-size: 26px;
    line-height: 34px;
    color: #32a9d1;
    margin-top:10px;
    margin-bottom:10px ;
}

.calc_block_titel{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    font: 500 15px/23px 'Roboto',Arial,Helvetica,Tahoma,sans-serif;
    color: #7a7e81;
    margin-bottom: 10px;
    font-weight: bold;
}

.calc_block_titel span{
    color: #d8374d;
}

.calc_block_vanna{
    display: block;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: auto;
    min-height: 100px;
    /*border: 4px solid #eef2f4;*/
    padding: 10px;
    margin: 0 auto;
}

.calc_block_closet{
    display: none;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: auto;
    min-height: 100px;
    /*border: 4px solid #eef2f4;*/
    padding: 10px;
    margin: 0 auto;
}

.calc_block_pol{
    display: none;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: auto;
    min-height: 100px;
    /*border: 4px solid #eef2f4;*/
    padding: 10px;
    margin: 0 auto;
}

.calc_block_kuxen{
    display: none;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: auto;
    min-height: 100px;
    /*border: 4px solid #eef2f4;*/
    padding: 10px;
    margin: 0 auto;
}

.calc_block_plitka{
    display: none;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: auto;
    min-height: 100px;
   padding: 10px;
    margin: 0 auto;
}




.calc_block_date{
    width: 42%;
    float: left;
    background: #f5f3f3;
    padding: 10px 2% 15px;
    margin: 0 4% 20px 0;
}



.calc_block_date label{
    font: 12px/20px Arial,Helvetica,Tahoma,sans-serif;
    color: #848484;
    margin-bottom: 6px;
    width: 100%;
    display: inline-block;
}

.calc_block_date input{
    width: 60px!important;
    height: 28px;
    float: left;
    border: 1px solid #e5e5e5;
    padding: 0 2%;
}

.calc_block_date span{
    float: left;
    font: 13px/30px Arial,Helvetica,Tahoma,sans-serif;
    color: #7a7e81;
    margin-left: 5px;
}

.calc_blocks_button{
    display: block;
    width: 98%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.calc_blocks_button button{
    display: block;
    background-color:#a6d54c;
    /*position: absolute;*/
    border: none!important;
    text-align: center;
    height: 40px;
    padding: 0 20px 0 40px;
    border: none;
    border-radius: 2px;
    font: 500 12px/40px 'Roboto',Arial,Helvetica,Tahoma,sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}


.calc_blocks_itog{
    display: block;
    width: 95%;
    margin: 0 auto;
    background: #eef2f4;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;

}

.calc_blocks_itog_titel{
    margin-bottom: 20px;
    font: 700 17px/24px 'Roboto',Arial,Helvetica,Tahoma,sans-serif;
    color: #7a7e81;
}

.calc_itog_block{
    margin-bottom: 10px;
    width: auto;
    min-height: 30px;
    display: flex;
    align-items: center;
}

.calc_itog_block span{
    margin-right: 10px;
    background: #fff;
    padding: 7px 10px;
    height: 15px;
    line-height: 1;
}

.calc_blocks_itog_vanna{
    display: block;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: auto;
    min-height: 100px;
    padding: 10px;
    margin: 0 auto;
}

.calc_blocks_itog_closet{
    display: none;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: auto;
    min-height: 100px;
    padding: 10px;
    margin: 0 auto;
}

.calc_blocks_itog_pol{
    display: none;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: auto;
    min-height: 100px;
    padding: 10px;
    margin: 0 auto;
}
.calc_blocks_itog_kuxen{
    display: none;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: auto;
    min-height: 100px;
    padding: 10px;
    margin: 0 auto;
}
.calc_block_date_err {
    display: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.calc_block_date_err p{
    font: 700 17px/24px 'Roboto',Arial,Helvetica,Tahoma,sans-serif;
    color: red;
    text-align: center;
}

.calc_block_err_closet{
    display: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.calc_block_err_closet p{
    font: 700 17px/24px 'Roboto',Arial,Helvetica,Tahoma,sans-serif;
    color: red;
    text-align: center;
}


.calc_block_err_pol{
    display: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.calc_block_err_pol p{
    font: 700 17px/24px 'Roboto',Arial,Helvetica,Tahoma,sans-serif;
    color: red;
    text-align: center;
}

.calc_block_err_kuxen{
    display: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.calc_block_err_kuxen p{
    font: 700 17px/24px 'Roboto',Arial,Helvetica,Tahoma,sans-serif;
    color: red;
    text-align: center;
}

.calc_block_err_plitka{
    display: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.calc_block_err_plitka p{
    font: 700 17px/24px 'Roboto',Arial,Helvetica,Tahoma,sans-serif;
    color: red;
    text-align: center;
}

.calc_blocks_itog_plitka{
    display: none;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: auto;
    min-height: 100px;
    padding: 10px;
    margin: 0 auto;
}






input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



input[type='number'] {
    -moz-appearance:textfield;
}




@media only screen  and (max-width: 1024px) {


}

@media only screen  and (max-width: 990px) {

    .calc_block_out1{
        float: none;
    }
    .calc_block_out2{
        float: none;
    }
    .calc_block_out3{
        float: none;
    }


}


@media only screen  and (max-width: 768px) {
    .calc_block_date2{
        float: left;

    }
   

}

@media only screen  and (max-width: 480px) {


}