@import"reset200802.css";

.body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.header{
    display:block;
    position: relative;
    width: 100%;
    min-height: 590px;
    margin: 0 auto;
    background: url("../img/Fon1.png") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
	background-size: 100%; /* Современные браузеры */
}

.header_contact{
    display: block;
    position: absolute;
    width: 25%;
    height: 5%;
    margin-left: 2%;
    margin-top: 2%;
}

.header_contact p{

    font:25px "ABFlockHeadline-Regular" ;
    color: #ffffff;
}

.header_contact p span{
    font:30px "ABFlockHeadline-Bold" ;
    color: #ffffff;
    margin-top: 5px;
}

.menu_nav{
    display:block;
    position: relative;
    width: 55%;
    z-index: 999;
    height: auto;
    background-color: #9cd574;
    border-radius: 5px;
    margin-left:24%;
    margin-top:5% ;
    border: 2px solid #edd9c8;
}

.menu_nav a{
    display: inline-block;
    font:14px "ABFlockHeadline-Regular";
    color: #313131;
    margin-left: 6px;
    padding-top: 5px;
    margin-right: 4px;
    padding-right: 5px;
    padding-bottom: 1px;
    text-decoration: none;
    border-right: 1px solid #313131;
}

.menu_nav a:last-child{
    display: inline-block;
    font:1vm "ABFlockHeadline-Bold";
    color: #313131;
    margin-left: 6px;
    padding-top: 5px;
    margin-right: 4px;
    padding-right: 5px;
    padding-bottom: 1px;
    border-right: 0px solid #313131
}

.header_logo{
    display: block;
    width: 40%;
    min-height: 190px;
    float: right;
    margin-right: 25%;
}

.header_video{
    display: inline-block;
    position: relative;
    width: 18%;
    min-height: 75px;
    margin-left: 51%;
    margin-top: -1%;
}

.header_video a img{
      float: left;
}

.header_video p{
    font:25px "ABFlockHeadline-Regular" ;
    color: #f7f9f9;
    float: right;
    margin-top: 22px;
}

.header_text1{
    display: block;
    position: relative;
    width: 22%;
    height: 2%;
    margin-left: 31%;
    margin-top: 7%;
}

.header_text1 p{
    font:12px "ABFlockHeadline-Regular" ;
    color: #ffffff;
    font-weight: bold;
    text-indent: 1.5em
}

.header_text2{
    display: block;
    position: relative;
    width: 22%;
    height: 2%;
    float: right;
    margin-right: 4%;
    margin-top: -12%;
 }
.header_text2 p{
    font:22px "ABFlockHeadline-Regular" ;
    color: #ffffff;
    text-align: right;
}
.header_text2 p span{
    font:40px "ABFlockHeadline-Regular" ;
    color: #ffffff;
    text-align: right;
}



.header_button{
    display: block;
    position: relative;
    width: 200px;
    height: auto;
    margin-top: 1%;
    margin-left: 30%;
}

.header_button .poplight{
    display: block;
    width: 125px;
    height: 48px;
    clear:both;
    margin: 0 auto;
    border: solid 3px #ffffff;
    /* закругляем углы кнопки */
    border-radius: 8px;
    background-color: #f06060;
    color:#ffffff;
    font:25px "ABFlockHeadline-Bold";
    padding:10px 12px;
    text-align:center;
    cursor:pointer;

}





.Journal{
    display:block;
    position: relative;
    width: auto;
    min-height: 390px;
    margin: 0 auto;
    background: url("../img/Fon2.png") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.Journal_titel{
    display: block;
    position: relative;
    width: 22%;
    height: 2%;
    margin-left: 25%;
    margin-top: 6%;
}

.Journal_titel p{
    font:25px "ABFlockHeadline-Bold" ;
    color: #232221;

}

.Journal_text{
    display: block;
    position: relative;
    width: 22%;
    height: 2%;
    margin-left: 25%;
    margin-top: 1%;
}

.Journal_text p{
    font:12px "ABFlockHeadline-Regular" ;
    color: #232221;
    text-indent: 1.5em
}

.Journal_button{
    display: block;
    position: absolute;
    width: 200px;
    height: auto;
    margin-left: 30%;
	bottom: -65px;
}

.Journal_button .poplight{
    display: block;
    width: 125px;
    height: 48px;
    clear:both;
    margin: 0 auto;
    border: solid 3px #ffffff;
    /* закругляем углы кнопки */
    border-radius: 8px;
    background-color: #ff9600;
    color:#ffffff;
    font:25px "ABFlockHeadline-Bold";
    padding:10px 12px;
    text-align:center;
    cursor:pointer;
}

.chess{
    display:block;
    position: relative;
    width: auto;
    min-height: 347px;
    margin: 0 auto;
    background: url("../img/Fon3.png") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.chess_titel{
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    float: right;
    margin-top: 2%;
    margin-right: 20%;
 }

.chess_titel p{
    font:25px "ABFlockHeadline-Bold" ;
    color: #232221;
}


.chess_text1{
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    margin-top: 6%;
    margin-left: 55%;
}

.chess_text1 p{
    font:12px "ABFlockHeadline-Regular" ;
    color: #232221;
    text-indent: 1.5em
}

.chess_titel2{
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    margin-top: 8%;
    margin-left: 21%;
 }

.chess_titel2 p{
    font:25px "ABFlockHeadline-Bold" ;
    color: #232221;
    text-align: right;
}

.boardgame{
    display:block;
    position: relative;
    width: auto;
    min-height: 348px;
    margin: 0 auto;
    background: url("../img/Fon4_1.png") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.boardgame_titel{
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    margin-top: 6%;
    margin-left: 27%;

}

.boardgame_titel p{
    font:25px "ABFlockHeadline-Bold" ;
    color: #232221;
}

.boardgame_text{
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    margin-top: 2%;
    margin-left: 27%;
 }

.boardgame_text p{
    font:12px "ABFlockHeadline-Regular" ;
    color: #232221;
    text-indent: 1.5em
}

.boardgame_button{
    display: block;
    position: absolute;
    width: 300px;
    height: auto;
    bottom: -65px;
    margin-left: 25%;
}

.boardgame_button .poplight{
    display: block;
    width: 225px;
    height: 48px;
    clear:both;
    margin: 0 auto;
    border: solid 3px #ffffff;
    /* закругляем углы кнопки */
    border-radius: 8px;
    background-color: #ffd895;
    color:#2e1e01;
    font:25px "ABFlockHeadline-Bold";
    padding:10px 12px;
    text-align:center;
    cursor:pointer;
}

.Gift{
    display:block;
    position: relative;
    width: auto;
    min-height: 346px;
    margin: 0 auto;
    background: url("../img/Fon5_1.png") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
 }

.Gift_titel{
    display: block;
    position: relative;
    width: 45%;
    height: auto;
    margin-top: 4%;
    margin-left: 30%;
}

.Gift_titel p{
    font:25px "ABFlockHeadline-Bold" ;
    color: #232221;
}

.Gift_titel2{
    display: block;
    position: relative;
    width: 45%;
    height: auto;
    margin-top: 2%;
    margin-left: 45%;
}

.Gift_titel2 p{
    font:22px "ABFlockHeadline-Bold" ;
    color: #232221;
}

.Gift_text{
    display: block;
    position: relative;
    width: 29%;
    height: auto;
    margin-top: 2%;
    margin-left: 45%;
}

.Gift_text p{
    font:22px "ABFlockHeadline-Bold" ;
    color: #232221;
    text-align: center;
}

.Gift_text p span{
    font:22px "ABFlockHeadline-Bold" ;
    color: #ff2c2c;
    text-shadow: #ffffff 1px 0px, #ffffff 1px 1px, #ffffff 0px 1px, #ffffff -1px 1px, #ffffff -1px 0px, #ffffff -1px -1px, #ffffff 0px -1px, red 1px -1px;
    text-align: center;
}

.Gift_button{
    display: block;
    position: absolute;
    width: 200px;
    height: auto;
   bottom: -65px;
    margin-left: 51%;
}

.Gift_button .poplight{
    display: block;
    width: 125px;
    height: 48px;
    clear:both;
    margin: 0 auto;
    border: solid 3px #ffffff;
    /* закругляем углы кнопки */
    border-radius: 8px;
    background-color: #4e7fb6;
    color:#ffffff;
    font:25px "ABFlockHeadline-Bold";
    padding:10px 12px;
    text-align:center;
    cursor:pointer;
}

.competitions{
    display:block;
    position: relative;
    width: auto;
    min-height: 348px;
    margin: 0 auto;
    background: url("../img/Fon6_1.png") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.competitions_titel{
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    margin-top: 4%;
    margin-left: 27%;

}

.competitions_titel p{
    font:25px "ABFlockHeadline-Bold" ;
    color: #2d1d01;
}

.competitions_text{
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    margin-top: 2%;
    margin-left: 27%;
}

.competitions_text p{
    font:12px "ABFlockHeadline-Regular" ;
    color: #38322b;
    text-indent: 1.5em
}

.competitions_button{
    display: block;
    position: absolute;
    width: 300px;
    height: auto;
    bottom: -65px;
    margin-left: 25%;
}

.competitions_button .poplight{
    display: block;
    width: 228px;
    height: 48px;
    clear:both;
    margin: 0 auto;
    border: solid 3px #ffffff;
    /* закругляем углы кнопки */
    border-radius: 8px;
    background-color: #ec63e8;
    color:#ffffff;
    font:25px "ABFlockHeadline-Bold";
    padding:10px 12px;
    text-align:center;
    cursor:pointer;
}

.buy{
    display:block;
    position: relative;
    width: auto;
    min-height: 348px;
    margin: 0 auto;
    background: url("../img/Fon7.png") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}


.buy_titel{
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    margin-top: 4%;
    margin-left: 50%;

}

.buy_titel p{
    font:25px "ABFlockHeadline-Bold" ;
    color: #ffffff;
}

.buy_text{
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    margin-top: 2%;
    margin-left: 50%;
}

.buy_text p{
    font:14px "ABFlockHeadline-Regular" ;
    color: #ffffff;
}

.buy_text2{
    display: block;
    position: relative;
    width: 25%;
    height: auto;
    margin-top: 12%;
    margin-left: 40%;
}

.buy_text2 p{
    font:14px "ABFlockHeadline-Regular" ;
    color: #ffffff;
}


.buy_button{
    display: block;
    position: absolute;
    width: 200px;
    height: auto;
    margin-top: 3%;
    margin-left: 48%;
}

.buy_button .poplight{
    display: block;
    width: 118px;
    height: 48px;
    clear:both;
    margin: 0 auto;
    border: solid 3px #ffffff;
    /* закругляем углы кнопки */
    border-radius: 8px;
    background-color: #f06060;
    color:#ffffff;
    font:25px "ABFlockHeadline-Bold";
    padding:10px 12px;
    text-align:center;
    cursor:pointer;
}

.info{
    display:block;
    position: relative;
    width: auto;
    min-height: 178px;
    margin: 0 auto;
    background-color: #0c0c34;
}

.info_text{
   display: block;
   width: auto;
   margin-top:40px ;
}

.info_text p{
    font:11px "ABFlockHeadline-Regular" ;
    color: #ffffff;
    text-align: center;

}