* { margin: 0; padding: 0; }

.wrapper {
    min-height: 100%;
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
}

.header {
    height: 68px;
    background-color: #ffffff;
    padding-top: 20px;
}


/*Обнуляем отступы*/
ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
}

/*Задаём параметры блока, содержащего основное меню*/
#menu {
    display:block;
    top:5px;
    left:5px;
}

/*Задаём стили для разделов нашего меню*/
#menu > li {
    display:inline-block;
    height:20px;
    position:relative;
    left: 5px;
    top: 5px;
}

/*Стили для скрытого выпадающего меню*/
#menu > li > ul {

    top:20px;
    display:none;
}

/*Делаем скрытую часть видимой*/
#menu > li:hover > ul {
    display:block;
}

.header_logo {
    width: 169px;
    height: 32px;
    background-image: url("images/logo2.jpg");
    float: left;
    display: inline-block;
}

.header_poisk {
    width: 516px;
    height: 38px;
    border: 2px solid #64DD17;
    margin-left: 30px;

    float: left;
    display: inline-block;
}

.header_poisk2 {
    height: 38px;
    width: 90px;
    border-right: 1px solid slateblue;
    float: left;
    display: inline-block;
}

.search {
    height: 39px;
    display: inline-block;
}

input[type="search"] {
    height: 38px;
    width: 416px;
    border: none;
    float: left;
    display: inline-block;
}

input[type="submit"] {
    border: none;
    left: 326px;
    height: 38px;
    width: 100px;
    background: url("images/Poisk4.jpg") no-repeat 50% 50%;
    float: left;
    display: inline-block;
}

.reg {
    height: 100%;
    width: 200px;
    text-align: center;
    padding-left: 20px;
    line-height: 48px;

    float: left;
    display: inline-block;
}

.reg .auth {
    background: url("images/icon1.jpg") no-repeat;
    padding-left: 20px;
}

.header2 {
    width: 100%;
}
.header_left {
    width: 196px;
    height: auto;
    background-color: #ffffff;
    display: inline-block;
}

.header_richt {
    margin-left: 7px;
    width: 757px;
    background-color: #ffffff;
    float: right;
    display: inline-block;
}

.kategorij {
    width: 194px;
    height: 41px;
    border: 1px solid #d9d9d9;
    background: url("images/icon2.jpg") no-repeat;
}

.kategorij_text {
    font-size: 14px;
    color: #2E7D32;
    font-weight: bold;
    line-height: 43px;
    margin-left: 44px;
}

.header_left_goods {
    width: 194px;
    height: 32px;
    border: 1px solid #d9d9d9;
    margin-top: -1px;
}

.header_left_goods_text {
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    padding-left: 5px;
}

.header_left_goods.hover, .header_left_goods:hover {
    border: 1px solid #2E7D32;
    color: #2E7D32;
}

.header_richt_goods1 {
    width: 754px;
    height: 170px;
    border: 1px solid slategray;
    background-color: #ffffff;

}

.header_richt_goods1_logo {
    width: 746px;
    height: 156px;
    background: url("images/goods1_1.jpg") no-repeat;
    margin: 4px 4px 4px 4px;
}

.header_richt_goods2 {
    width: 754px;
    height: 344px;
    border: 1px solid slategray;
    background-color: #ffffff;
}

.header_richt_goods2_logo {
    width: 747px;
    height: 331px;
    background: url("images/goods2_1.jpg") no-repeat;
    margin: 4px 4px 4px 4px;
}

.content{
    height: auto;
    width: auto;
}
.goods_block1{
    height: auto;
    border: 1px solid slategray;
    background-color: #ffffff;
    display: inline-block;
}

.goods_block2{
    height: auto;
    border: 1px solid slategray;
    background-color: #ffffff;
    display: inline-block;
}
.goods_block3{
    height: auto;
    border: 1px solid slategray;
    background-color: #ffffff;
    display: inline-block;
}

.title_popular{
    width: 960px;
    height: 24px;
    display: inline-block;
}

.title_popular_image{
    width: 20px;
    height: 24px;
    margin: 4px 4px 4px 4px;
}

.title_popular_text{
    width: 460px;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    color: #2E7D32;
    margin: -25px 0 0 30px;
}

.content_items{
    width: 100%;
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

.goods_items{
    width: 24%;
    display: inline-block;
 }
.goods_items2{
    width: 19%;
    display: inline-block;

}

.item_name{
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.item_name2{
    margin-top: 10px;
    font-size: 9px;
    font-weight: bold;
    color: #000000;
    text-align: center;

}

.item_price{
    font-size: 18px;
    font-weight: bold;
    color: #2E7D32;
    margin-top: 10px;
    text-align: center;
}
.item_price2{
    font-size: 14px;
    font-weight: bold;
    color: #2E7D32;
    margin: 10px 0 0 60px;
}

.item_buttons{
    width: 171px;
    height: 37px;
    border: 1px solid  #2E7D32;
    background-color: #ffffff;
    margin: 10px auto 0;
    text-align: center;
}

.item_buttons2{
    width: 115px;
    height: 25px;
    border: 1px solid  #2E7D32;
    background-color: #ffffff;
    margin: 10px auto 0;
    text-align: center;
 }

.item_buy_button{
    width: 90px;
    height: 55px;
    font-size: 14px;
    font-weight: bold;
    color: #2E7D32;
    line-height: 37px;
}
.item_buy_button2{
    width: 90px;
    height: 55px;
    font-size: 12px;
    font-weight: bold;
    color: #2E7D32;
    margin: 10px 0 0 10px;
    line-height: 25px;
}


.item_buttons:hover{
    background-color: #2E7D32;
}

.item_buttons:hover .item_buy_button{
    color: #ffffff;
}

.item_buttons2:hover{
    background-color: #2E7D32;
}

.item_buttons2:hover .item_buy_button2{
    color: #ffffff;
}
.footer{
    width: 960px;
    margin:0 auto;
}

.footer1{
    display: inline-block;
    height: auto;
    width: 19%;
    vertical-align: top;
}

.footer_text{
    font-size: 16px;
    font-weight: bold;
    color: #4f4f4f;
}

.footer_text1{
    font-size: 12px;
    font-weight: bold;
    color: #4f4f4f;
    margin: 0 0 0 10px;
}

.footer2{
    width: 260px;
    height: 24px;
    margin:0 auto;
}

.footer2_text{
    font-size: 14px;
    font-weight: bold;
    color: #888888;
}