.body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

/*Описание header и его компонентов */

.header {
    display:block;
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: #2c3e52 ;
}

.header_logo {
    padding: 20px 0px 20px 90px;
    display:inline-block;
    width: 27%;
    height: auto;
}

.header_menu{
    display: inline-block;
    width: 20%;
    height: auto;
    padding: 20px 0px 20px 40px;
}

.header_menu a{
    font-size: 16px;
    font-family: "Myriad Pro";
    color: #c6d7e6;
    padding: 10px 0 0 20px;
}

.header_telefon {
    width: 15%;
    height: auto;
    display: inline-block;
    padding: 20px 0px 20px 40px;

}

.header_telefon  p{
    font-size: 16px;
    font-family: "Myriad Pro";
    color: #c6d7e6;
    padding: 10px 0 0 20px;
}

.header_button1{
    width: 17%;
    height: auto;
    display: inline-block;
    background: url("../img/button1.png") no-repeat 50% 50%;
    padding: 55px 0px 20px 40px;
}

.header_button2{
    width: 17%;
    height: auto;
    display: inline-block;
    background: url("../img/button2.png") no-repeat 50% 100%;
    padding: 55px 0px 20px 40px;
}


/*Описание transfer (Профессиональный перевод) и его компонентов */

.transfer{
    display:block;
    width: auto;
    min-height: 570px;
    margin: 0 auto;
    background-color: #ec3a48 ;
}

.transfer_titel{
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 10px 0 0 20px;
}

.transfer_titel h1{
    width: auto;
    font-size: 42px;
    font-family: "Myriad Pro";
    color: #fffeff;
    text-align: center;
}

.transfer_bloc_cont{
    width: 80%;
    min-height: 425px;
    display: inline-block;
    margin-left: 100px;
    padding: 0px 0px 0px 0px;
}

.transfer_bloc_cont_tel1{
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
}

.transfer_bloc_cont_tel1 p{
    font-size: 32px;
    font-family: "Myriad Pro";
    color: #fffeff;
}

.transfer_bloc_cont_tel2{
    display: inline-block;
    margin-left: 10px;
}

.transfer_bloc_cont_tel2 p{
    font-size: 32px;
    font-family: "Myriad Pro";
    color: #fffeff;
}

.transfer_bloc_text1{
    display: inline-block;
    width: 100%;
}

.transfer_bloc_text1 p {
    font-size: 16px;
    font-style: italic;
    font-family: "Myriad Pro";
    color: #fffeff;
    margin-left: 10px;
}

.transfer_bloc_text2{
    display: inline-block;
    width: 100%;
}


.transfer_bloc_text2 p{
    font-size: 16px;
    font-family: "Myriad Pro";
    color: #fffeff;
    margin-left: 10px;
}

.transfer_bloc_form{
    display: block;
    width: 100%;
}

.transfer_bloc_form input{
    width: 30%;
    font-size: 16px;
    font-family: "Myriad Pro";
    color:#d4d2d3;
    margin-left: 10px;
    margin-top: 20px;
}

.transfer_bloc_form_button{
    display: block;
    width: 100%;
}

.search-main button{
    width: 40%;
    height: 50px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 30px;
    background: url("../img/buttonForm1.png") no-repeat 50% 50%;
}

.transfer_bloc_text3{
    width: 50%;
    height: 50px;
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    font-family: "Myriad Pro";
    color:#d4d2d3;
    font-style: italic;
}

.transfer_bloc_slider{

    width: 80%;
    min-height: 425px;
    display:block;
    padding: 0px 0px 0px 0px;
}

#transfer_slider{
    display:block;
    height:327px;
    width:480px;
    background-color:floralwhite;
    border-radius: 6px;
}

#slider {
    display: block;
    position: relative;
    float: left;
    margin: 0 0 0 5px;
    width: auto;
    height: auto;
}

#cyclePager {
    position: absolute;
    height: 18px;
    overflow: hidden;
    left: 50%;
    bottom: 50px;
    z-index: 99;
}

#cyclePager a {
    background: transparent url("../img/pager-gal2.png") 0 0 no-repeat;
    display: inline-block;
    height: 17px;
    width: 17px;
    overflow: hidden;
    left: 50%;
    bottom: 50px;
    margin-left: 10px;
    text-indent: -9999px;

}

#cyclePager a:hover,
#cyclePager a.activeSlide {
    background-position: -17px 0;
}


/*Описание  (Срочный перевод) и его компонентов */

.urgent_translation{
    display:block;
    width: auto;
    min-height: 520px;
    margin: 0 auto;
    background-color: #e8e8e8 ;
}

.urgent_titel{
    display:inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.urgent_titel h1{
    width: auto;
    font-size: 36px;
    font-family: "Myriad Pro";
    color: #24263d;
    text-align: center;
}


.urgent_translation_bloc{
    display: block;
    width: 80%;
    min-height: 500px;
    margin: 0 auto;
}

.urgent_translation_bloc_icon{
    display: inline-block;
    width: 100%;
    height: auto;
 }

.urgent_translation_tekst{
    display: inline-block;
    width: 100%;
    height: auto;
}

.urgent_translation_tekst p{
    font-size: 19px;
    font-family: "Myriad Pro";
    color: #5b6268;
    text-align: left;
}

.urgent_translation_button{
    display: block;
    width: 100%;
    margin-top: 30px;
}

.urgent_translation_button a{
    display: inline-block;
    width: 100%;
    height: 50px;
    background: url("../img/button1_Trans.png") no-repeat 50% 50%;
    margin: 0 auto;
}

.urgent_translation_bloc_menu{
    display: block;
    width: 100%;
}

.urgent_translation_bloc_menu_titel{
    display: block;
    width: 100%;
}

.urgent_translation_bloc_menu_titel p{
    font-size: 18px;
    font-family: "Myriad Pro";
    font-style: normal;
    color: #5b6268;
    text-align: left;
}

.urgent_translation_bloc_menu{
    display: block;
    width: 100%;
}

.urgent_translation_bloc_menu a{
    font-size: 16px;
    font-family: "Myriad Pro";
    font-style: normal;
    line-height: 2.5;
    color: #5b6268;
    text-align: left;
    text-decoration:underline;
}

/*Описание блока "Виды переводов и его компонентов */

.typestran{
    display:block;
    width: auto;
    min-height: 360px;
    margin: 0 auto;
    background-color: #e8e8e8 ;
}

.typestran_titel{
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 10px 0 0 20px;
}

.typestran_titel  h1{
    width: auto;
    font-size: 36px;
    font-family: "Myriad Pro";
    color: #24263d;
    text-align: center;
}


.typestran_bloc{
    display: block;
    width: 80%;
    min-height: 210px;
    margin: 0 auto;

}

.typestran_bloc_cont{
    display: inline-block;
    width: 16.3%;
    min-height: 210px;
    padding: 0 0 0 0;
    margin: 0;
}

.typestran_bloc_cont img{
    display:block;
    width: 100%;
}

.typestran_bloc_cont h2{
    font-size: 18px;
    font-family: "Myriad Pro";
    color: #8b8e93;
    text-align: center;
}



/*Описание блока "СПОСОБ ПОЛУЧЕНИЯ" и его омпонентов */

.methods_for_preparing{
    display:block;
    width: auto;
    min-height: 280px;
    margin: 0 auto;
    background-color: #e8e8e8;
}

.methods_for_preparing_titel{
    display:inline-block;
    width: 100%;
    margin-top: 50px;
}

.methods_for_preparing_titel h1{
    display:inline-block;
    font-size: 36px;
    font-family: "Myriad Pro";
    color: #29394f;
    margin: 0 auto;
}

.methods_for_preparing_bloc{
    display: block;
    width: 80%;
    min-height: 410px;
    margin: 0 auto;
}

/*Описание блока "Стоимость переводов" и его омпонентов */

.cost_of_translation{
    display:block;
    width: auto;
    min-height: 490px;
    margin: 0 auto;
    background-color: #f25544 ;
}

.cost_of_translation_bloc{
    display: block;
    width: 80%;
    min-height: 410px;
    margin: 0 auto;
}

.cost_of_translation_bloc1 h1{
    font-size: 36px;
    font-family: "Myriad Pro";
    color: #f6f6f8;
    float: left;
}

.cost_of_translation_bloc1 p{
    margin-top: 20px;
    font-size: 14px;
    font-family: "Myriad Pro";
    color: #f6f6f8;
    float: left;
}

.cost_of_translation_button1{
    display: inline-block;
    margin-left: 10px;
    margin-top: 30px;
    background: url("../img/button1_Cost.png") no-repeat 50% 50%;
}

.cost_of_translation_bloc2{
    display: block;
    width: 100%;
    height: auto;
}

.cost_of_translation_bloc2_form{
    display: block;
    width: 80%;
    min-height: 350px;
    margin-left: 10px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 10px;

}


/*Описание блока "СПОСОБ ПОЛУЧЕНИЯ" и его омпонентов */

.methods_for_preparing{
    display:block;
    width: auto;
    min-height: 280px;
    margin: 0 auto;
    background-color: #e8e8e8;
}

.preparing_titel{
    display:inline-block;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.preparing_titel h1{
    width: 100%;
    font-size: 36px;
    font-family: "Myriad Pro";
    color: #29394f;
    text-align: center;
}


.methods_for_preparing_bloc{
    display: block;
    width: 80%;
     margin: 0 auto;
}

.advantages_bloc p{
    width: 100%;
    font-size: 22px;
    font-family: "Myriad Pro";
    color: #29394f;
    text-align: center;

}







/*Описание блока "Наши преимущества" и его омпонентов */


.advantages{
    display:block;
    width: auto;
    min-height: 530px;
    margin: 0 auto;
    background-color: #e8e8e8;
}

.advantages_titel{
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 140px 10px 38px 20px;
}

.advantages_titel  h1{
    width: auto;
    font-size: 36px;
    font-family: "Myriad Pro";
    color: #1b2735;
    text-align: center;
}

.advantages_bloc{
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.advantages_bloc_cont{
    display: inline-block;
    width: 19%;
    min-height: 210px;
    padding: 0 0 0 0;
    margin: 0;
}

.advantages_bloc_cont img{
    display: block;
    margin: 0 auto;
}

.advantages_bloc_cont h1{
    width: auto;
    font-size: 18px;
    font-family: "Myriad Pro";
    color: #a8a8a8;
    text-align: center;
}

.advantages_bloc_cont h2{
    width: auto;
    font-size: 14px;
    font-family: "Myriad Pro";
    color: #a8a8a8;
    text-align: center;
}



/*Описание блока "ЛИНИЯ" и его омпонентов */

.line{
    display:block;
    width: 100%;
    height: 5px;
   background-color: #e94f4d;

}

    /*Описание блока "Футер" и его омпонентов */

.footer{
    display:inline-block;
    width: 100%;
    min-height: 240px;
    background-color: #2c3e52;
}

.footer_logo {
    display: block;
    width: 100%;

}

.footer_text{
    display: block;
    width: 100%;
    font-size: 15px;
    font-family: "Myriad Pro";
    color: #8b97a3;
}

.footer_text p{
    margin-top: 10px;
}

.footer_menu{
    display: block;
    width: 100%;
}

.footer_menu_icon{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.footer_menu_icon img{
  margin-right: 20px;
}


.footer_menu_punkt {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.footer_menu_punkt a{
    margin-right: 20px;
}

.footer_menu_firm{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
 }

.footer_menu_firm p{
    font-size: 15px;
    font-family: "Myriad Pro";
    color: #aebbcb;
}

